<div class="row">
    <div class="col-md-12">    
    
        <div class="container">
            <div class="row">
                <div class="col-md-2">

                    <div ng-show="$rootScope.displayMode != 'mobile' && $rootScope.displayMode != 'tablet'">
                        <tabset direction="'left'">
                            <tab ng-repeat="feed in feeds" heading="{{feed.title}}" active="feed.active" select="showFeed($index)">
                            </tab>
                        </tabset>
                    </div>
                    <div ng-show="$rootScope.displayMode == 'mobile' || $rootScope.displayMode == 'tablet'">
                        <ul class="nav nav-tabs">
                          <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown"
                               href="#">
                                {{activeFeed.title}}
                                <b class="caret"></b>
                              </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="feed in feeds">
                                    <a ng-click="showFeed($index)">{{feed.title}}</a>
                                </li>
                            </ul>
                          </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-10">
                	<h3>{{activeFeed.title}}</h3>
                	<ul class="list-inline">
                		<li><i class="fa fa-clock-o"></i> {{activeFeed.publishedDate}}</li>
                		<li><i class="fa fa-user"></i> {{activeFeed.author}}</li>
                	</ul>
                    <div class="blog-post">
                        <div ng-bind-html="activeFeed.content"></div>
                        <hr/>
                        <div disqus="disqus_id"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
