<div class="row" style="min-height: 300px">
	<div class="col-md-6" ng-class="{leftspan: $rootScope.displayMode != 'mobile' }" >
         <ul class="fa-ul">
            <li><i class="fa-li fa fa-user"></i> dr.ssa Maria Laura Tortorella - Biologa nutrizionista</li>
            <li>Iscrizione Albo n&#176; 068121</li>
            <li>P.I. 04539760753</li>
            <li><i class="fa-li fa fa-phone"></i> <a href="tel:+393491623792">+39 3491623792</a></li>
            <li><i class="fa-li fa fa-envelope"></i> <a href="mailto:mltortorella.nutrizione@gmail.com">mltortorella.nutrizione@gmail.com</a></li>
            <li><i class="fa-li fa fa-globe"></i> <a href="http://www.mltortorella-nutrizione.it">www.mltortorella-nutrizione.it</a></li>
            <li><i class="fa-li fa fa-facebook"></i> <a href="https://www.facebook.com/marialauratortorellabiologanutrizionista">https://www.facebook.com/marialauratortorellabiologanutrizionista</a></li>
            <li><i class="fa-li fa fa-linkedin"></i> <a href="https://it.linkedin.com/pub/maria-laura-tortorella/22/8/243">https://it.linkedin.com/pub/maria-laura-tortorella/22/8/243</a></li>
         </ul>
	</div>
	<div class="col-md-6" ng-class="{rightspan: $rootScope.displayMode != 'mobile' }">
		<div class="row">

			<div class="col-md-6 centrato">
				<p>
					Aggiungi alla tua rubrica
				</p>
				<a download="vCard.vcf" ng-href="{{ vcfUrl }}" class="icon-vcard">&#59170;</a>
			</div>
			<div class="col-md-6 centrato">
				<p>
					Usa la fotocamera del tuo smartphone
				</p>	
				<img alt="qr" src="assets/vCard_qr.png"/>
			</div>
			
		</div>
	</div>
	
</div>

<div class="row">

	<div class="col-md-6" ng-class="{leftspan: $rootScope.displayMode != 'mobile' }">
		<div class="card">
			<h3 class="underline"><span>Richiesta informazioni</span></h3>
			<p>
Compila i campi qui a fianco specificando nome, indirizzo email o cellulare e la tua richiesta, ti risponderò nel più breve tempo possibile! 				
			</p>
		</div>
	</div>
	<div class="col-md-6" ng-class="{rightspan: $rootScope.displayMode != 'mobile' }" >
		<div class="card">

			<alert type="alert.type" close="closeAlert($index)" ng-repeat="alert in alerts">{{alert.msg}}</alert>

			<p>
				<form class="form-horizontal" name="richiestaForm" novalidate ng-submit="sendRequest()">


				  <div class="form-group" ng-class="{'has-error': !richiestaForm.nome.$pristine && richiestaForm.nome.$error.required }">
				    <label class="control-label col-sm-2" for="inputNome"><strong>Nome: </strong></label>
				    <div class="col-sm-10">
					    <input type="text" class="form-control" id="inputNome" name="nome" placeholder="Nome" ng-model="richiesta.nome" required />
					    <span class="help-block" ng-show="!richiestaForm.nome.$pristine && richiestaForm.nome.$error.required">Campo obbligatorio</span>
				    </div>
				  </div>


				  <div class="form-group" ng-class="{'has-error': !richiestaForm.email.$pristine && richiestaForm.email.$error.email }">
				    <label class="control-label col-sm-2" for="inputEmail"><strong>Email: </strong></label>
				    <div class="col-sm-10">
					    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" ng-model="richiesta.email" />
		      			<span class="help-block" ng-show="!richiestaForm.email.$pristine && richiestaForm.email.$error.email">Email non valida</span>
				    </div>
				  </div>

				  <div class="form-group">
				    <label class="control-label col-sm-2" for="inputCellulare"><strong>Cellulare: </strong></label>
				    <div class="col-sm-10">
					    <input type="text" class="form-control" id="inputCellulare" name="cellulare" placeholder="Cellulare" ng-model="richiesta.cellulare" />
				    </div>
				  </div>

				  <div class="form-group">
				    <label class="control-label col-sm-2" for="inputCellulare"><strong>Testo: </strong></label>
				    <div class="col-sm-10">
					    <textarea  id="inputTesto" class="form-control" name="testo" placeholder="Testo" ng-model="richiesta.testo" rows="3"/>
				    </div>
				  </div>
	
				  <div class="form-group">
				  	  <div class="col-sm-offset-2 col-sm-10">
					      <div class="checkbox">
					        <label>
					          <input type="checkbox" ng-model="richiesta.autorizzo"> Autorizzo il trattamento dei dati personali secondo il D.Lgs 196/2003
					        </label>
					      </div>
				      </div>
				  </div>
	
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button class="btn" type="button" ng-click="clearForm()"><span>Cancella <i class="fa fa-eraser"></i></span></button>
				      <button type="submit" class="ladda-button btn btn-primary expand-right" ng-disabled="richiestaForm.$invalid" ui-ladda="sending">
				      	<span class="ladda-label">Invia <i class="fa fa-envelope-o"></i></span>
				      </button>
				    </div>
				  </div>
				</form>
			</p>
		</div>

	</div>
</div>
