<div class="row">
	<div class="col-md-12">
			<p>
	Scegli la sede più vicina a te.
			</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 center">
		<div class="btn-group btn-dove-siamo">
       		<button type="button" class="btn btn-primary" ng-model="radioModel.id" ng-repeat="posizione in posizioni" btn-radio="posizione.id" ng-click="selezionaCitta($index)">{{posizione.citta}}</button>
   		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<div gm-info-window="infoWindow" >
				<h4>{{selectedPosizione.citta}}</h4>
				<span>{{selectedPosizione.indirizzo}}</span>
		</div>
		<gm-map gm-map-id="'infoWindows'" gm-center="center" gm-zoom="zoom" gm-map-options="mapOptions" class="map">
			<gm-markers gm-objects="posizioni"
				gm-position="{ lat: object.location.lat, lng: object.location.lng }"
				gm-marker-options="{ title: object.citta, visible: true }"
				gm-id="object.id"
				gm-on-click="selectedPosizione = object; infoWindow.open(marker.getMap(), marker);">
			</gm-markers>
		</gm-map>
	</div>
	<div class="col-md-4">
   		<h2>{{selectedPosizione.citta}}</h2>
   		<address>
   			<span ng-show="selectedPosizione.indirizzo"><i class="fa fa-map-marker"></i> {{selectedPosizione.indirizzo}}</span><br/>
   			<!-- <span>{{selectedPosizione.cap}}<br>  -->
   			<span><i class="fa fa-phone"></i> Tel: {{selectedPosizione.telefono}}</span><br/>
   			<span><i class="fa fa-envelope"></i> Email: <a ng-href="mailto:{{selectedPosizione.email}}">{{selectedPosizione.email}}</a></span>
   		</address>
	</div>

</div>
