<div class="row">
        <div class="col-md-7 featurette-container">
          <div class="featurette-container-inner">
            <h3>Al giorno d’oggi il concetto di dieta è spesso mal interpretato.</h3>
            <p class="lead giustificato">
  La parola “dieta”, infatti, richiama a tutti la mera applicazione di strette regole e regimi alimentari drastici e monotoni, basati su restrizioni e privazioni, spesso limitate a brevi, ma intensi periodi di tempo.
            </p>
          </div>
        </div>
        <div class="col-md-5 featurette-container">
          <div class="featurette-image-container-inner" in-view="animateInView($inview, $element, 'animated animated-slow fadeIn')">
            <img class="featurette-image hidden" alt="500x500" src="img/site/home1.jpg">
          </div>
        </div>
</div>
<hr class="featurette-divider">
<div class="row">
        <div class="col-md-5 featurette-container"> 
          <div class="featurette-image-container-inner" in-view="animateInView($inview, $element, 'animated animated-slow fadeIn')">
            <img class="featurette-image hidden" alt="500x500" src="img/site/home2.jpg">
          </div>
        </div>
        <div class="col-md-7 featurette-container">
          <div class="featurette-container-inner">
            <p class="lead giustificato">Ben presto, però, con questo tipo di approccio, anche nell’individuo più tenace viene meno la costanza che lascerà il posto a sofferenza e frustrazione per il mancato raggiungimento dell’obiettivo prefissato e, quindi, del successo.

            Il termine dieta, invece, dal latino "diaeta", e a sua volta dal greco δίαιτα, dìaita, significa "modo di vivere" e, di conseguenza, “modo di vivere secondo abitudini alimentari sane ed equilibrate”.
            </p>
        </div>
      </div>
</div>
<hr class="featurette-divider">
<div class="row">
        <div class="col-md-5 featurette-container">
          <div class="featurette-container-inner">
            <p class="lead giustificato">Il cammino di rieducazione alimentare, per riacquistare salute ed equilibrio corporeo deve essere, dunque, lento e graduale per consentire all’individuo di divenire egli stesso artefice del cambiamento del proprio stile di vita.</p>
          </div>
        </div>
        <div class="col-md-7 featurette-container">
          <div class="featurette-image-container-inner" in-view="animateInView($inview, $element, 'animated animated-slow fadeIn')">
            <img class="featurette-image hidden" alt="500x500" src="img/site/home3.jpg">
          </div>
        </div>
</div>