<div class="row">
  <div class="col-md-5 featurette-container">
    <div class="featurette-container-inner">
      <p class="lead giustificato">
  Il percorso di rieducazione alimentare è un viaggio, alla scoperta del proprio organismo e delle sue necessità, che porta naturalmente, cioè in maniera graduale e senza stress, ad un calo ponderale progressivo e duraturo od al mantenimento/aumento del peso corporeo (in relazione alle diverse esigenze di ognuno).
      </p>
      <p class="lead giustificato">
        In tutti i casi l’individuo sarà guidato nella scelta consapevole dei cibi e nella giusta associazione degli stessi nel corso dell’intera giornata.
      </p>
    </div>

  </div>
  <div class="col-md-7 featurette-container">
    <div class="featurette-image-container-inner" in-view="animateInView($inview, $element, 'animated animated-slow fadeIn')">
      <img class="featurette-image hidden" src="img/site/metodo2.jpg">
    </div>
  </div>
</div>

<div class="row motivatore-metodo">
  <div class="col-md-3" in-view="animateInView($inview, $element, 'animated animated-slow fadeIn')">
    <img class="img-circle img-center hidden" src="img/site/metodo1.png" width="192" height="192" alt="Motivatore">
  </div>
  <div class="col-md-9">
      <blockquote class="lead">Indubbiamente un sincero impegno ed una generosa dose di motivazione sono sempre ottimi compagni di viaggio!!!
      </blockquote> 
  </div>
</div>

<div class="row">
  <div class="col-md-7 featurette-container">
    <div class="featurette-container-inner">
      <p class="lead giustificato">
  E grazie ad un po’ di costanza e ad una diligente applicazione di piccoli accorgimenti quotidiani,  ben presto questi ultimi si trasformeranno in piacevoli abitudini alle quali seguiranno vantaggi evidenti: sia in termini di buona salute e prevenzione, sia di benessere e di forma fisica.
      </p>
      <p class="lead giustificato">
  Ma per chi inizia quest’avventura di scoperta del proprio corpo è necessario comprendere anche l’importanza di proseguire e coltivare le relazioni sociali, concedendosi, di tanto in tanto, piccole eccezioni gratificanti.
      </p>
      <p class="lead giustificato">
  Naturalmente sarà altrettanto necessario distinguere le buone abitudini da mantenere da quelle, invece, da modificare!
      </p>
      <p class="lead giustificato">
  Tuttavia, ogni <strong>individuo</strong> è unico ed ha storia, abitudini alimentari e stili di vita propri; e proprio per questo deve essere considerato come <strong>indissolubile insieme di corpo, mente ed emozioni</strong>.
      </p>
    </div>
  </div>
  <div class="col-md-5 featurette-container">
    <div class="featurette-image-container-inner" in-view="animateInView($inview, $element, 'animated animated-slow fadeIn')">
        <img class="featurette-image hidden" src="img/site/metodo3.jpg">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-5 featurette-container">
    <div class="featurette-image-container-inner" in-view="animateInView($inview, $element, 'animated animated-slow fadeIn')">
        <img class="featurette-image hidden" src="img/site/metodo4.jpg">
    </div>
  </div>
  <div class="col-md-7 featurette-container">
    <div class="featurette-container-inner">
      <p class="lead giustificato">
      L’attività di consulenza consiste, pertanto, nel fornire gli strumenti per l’applicazione di un piano alimentare ad hoc, costruito sulla base di accurate misurazioni dei parametri antropometrici individuali  (età, peso, altezza, indice di massa corporea, circonferenze e pliche corporee, metabolismo, composizione corporea) e in relazione alla storia clinica, alle abitudini alimentari ed al rapporto con il cibo, allo stile vita ed allo stato emotivo di ognuno.       
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7 featurette-container">
    <div class="featurette-container-inner">
      <p class="lead giustificato">
        Grazie ai controlli cadenzati nel tempo sarà possibile monitorare i risultati raggiunti, verificare l’aderenza del paziente al piano alimentare consigliato ed, eventualmente  modificare la strategia a seconda delle necessità: al fine di fissare, giorno dopo giorno, nuovi obiettivi di facile realizzazione nel breve periodo.
      </p>      
    </div>
  </div>
  <div class="col-md-5 featurette-container">
    <div class="featurette-image-container-inner" in-view="animateInView($inview, $element, 'animated animated-slow fadeIn')">
        <img class="featurette-image hidden" src="img/site/metodo5.jpg">
    </div>
  </div>
</div>
