<div class="modal-header">
  <button type="button" class="close" ng-click="$close()">&times;</button>
</div>
<div class="modal-body">
  <iframe width="750px" height="490" frameBorder="0" src="http://www.iubenda.com/privacy-policy/838902/legal"></iframe>
</div>
