<div class="row">
	<div class="col-md-12">
		<div>
			<h3 class="underline" fc-scroll-to="'individuo'" fc-current-position="{{ $stateParams.pos }}" ><span>Servizi per l'individuo</span></h3>

			<div class="row">
				<div class="col-md-4">
					<div class="box">							
						<div class="icon">
							<img class="image" src="img/site/servizi1.jpg" width="180" height="180" alt="Motivatore">
							<div class="info">
								<p>
									Rieducazione alimentare individuale e familiare 
								</p>
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>		
				<div class="col-md-4">
					<div class="box">							
						<div class="icon">
							<img class="image" src="img/site/servizi2.jpg" width="180" height="180" alt="Motivatore">
							<div class="info">
								<p>
									Valutazione dello stato nutrizionale e determinazione dei bisogni energetici (individuali)
								</p>
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>		
				<div class="col-md-4">
					<div class="box">							
						<div class="icon">
							<img class="image" src="img/site/servizi5.jpg" width="180" height="180" alt="Motivatore">
							<div class="info">
							
								<p>
									Riabilitazione ed orientamento nutrizionale nei disturbi del comportamento alimentare in collaborazione con psicologi e psicoterapeuti
								</p>
								
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="box">							
						<div class="icon">
							<img class="image" src="img/site/servizi4.jpg" width="180" height="180" alt="Motivatore">
							<div class="info">
							
								<p>
									Elaborazione di schemi  alimentari personalizzati, riequilibrio nutrizionale ed educazione alimentare per soggetti  affetti da patologie accertate: obesità, malnutrizione, neoplasie, dislipidemie, diabete, ipertensione arteriosa, insufficienza renale, patologie dell’apparato gasto-enterico, allergie e intolleranze alimentari
								</p>
								
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>		
				<div class="col-md-6">
					<div class="box">							
						<div class="icon">
							<img class="image" src="img/site/servizi3.jpg" width="180" height="180" alt="Motivatore">
							<div class="info">
								<p>
									Valutazione del metabolismo energetico e della composizione corporea mediante analisi antropometrica (peso, altezza, circonferenze, pliche) e impedenziometrica (analizzatore vettoriale di bioimpedenza, AKERN BIA 101) 
								</p>
								
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>		
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box">	
						<div class="icon">
							<div class="info no-margin">
								
								<p class="align-left">
									Elaborazione di schemi alimentari personalizzati, riequilibrio nutrizionale ed educazione alimentare per soggetti sani ed in condizioni fisiologiche particolari:
								</p>

								<div class="container">
									<div class="row">
										<div class="col-md-3">
											<div id="carousel1" class="carousel slide" data-interval="3000" >
												<!--<ol class="carousel-indicators">
													<li data-target="#carousel1" data-slide-to="0" class="active"></li>
													<li data-target="#carousel1" data-slide-to="1"></li>
													<li data-target="#carousel1" data-slide-to="2"></li>
												</ol>-->
										      
										      	<div class="carousel-inner">
										        	<!--<div class="item active">
										          		<img src="img/site/servizi_c1_1.jpg" style="width: 254px; height: 198px; "/>
										        	</div>-->
										        	<div class="item active">
										          		<img src="img/site/servizi_c1_2.jpg" style="width: 254px; height: 198px;"/>
										        	</div>
										        	<!--<div class="item">
										          		<img src="img/site/servizi_c1_3.jpg" style="width: 254px; height: 198px;"/>
										        	</div>-->
								      			</div>

								      			<div class="carousel-caption  taller">
										          	<p>età pediatrica ed adolescenziale</p>
										        </div>

								  			</div>
								  		</div>
										<div class="col-md-3">
											<div id="carousel2" class="carousel slide" data-interval="3000" >
												<!--<ol class="carousel-indicators">
													<li data-target="#carousel2" data-slide-to="0" class="active"></li>
													<li data-target="#carousel2" data-slide-to="1"></li>
												</ol>-->
										      
										      	<div class="carousel-inner">
										        	<!--<div class="item active">
										          		<img src="img/site/servizi_c2_1.jpg" style="width: 254px; height: 198px; "/>
										        	</div>-->
										        	<div class="item active">
										          		<img src="img/site/servizi_c2_2.jpg" style="width: 254px; height: 198px;"/>
										        	</div>
								      			</div>

								      			<div class="carousel-caption  taller">
										          	<p>gravidanza ed allattamento</p>
										        </div>

								  			</div>
								  		</div>
								  		<div class="col-md-3">
											<div id="carousel3" class="carousel slide" data-interval="3000" >
												<!--<ol class="carousel-indicators">
													<li data-target="#carousel3" data-slide-to="0" class="active"></li>
												</ol>-->
										      
										      	<div class="carousel-inner">
										        	<div class="item active">
										          		<img src="img/site/servizi_c3_1.jpg" />
										        	</div>
								      			</div>

								      			<div class="carousel-caption  taller">
										          	<p>menopausa</p>
										        </div>

								  			</div>
								  		</div>
										<div class="col-md-3">
											<div id="carousel4" class="carousel slide" data-interval="3000" >
												<!--<ol class="carousel-indicators">
													<li data-target="#carousel4" data-slide-to="0" class="active"></li>
													<li data-target="#carousel4" data-slide-to="1"></li>
												</ol>-->
										      
										      	<div class="carousel-inner">
										        	<div class="item active">
										          		<img src="img/site/servizi_c4_1.jpg" style="width: 254px; height: 198px; "/>
										        	</div>
										        	<!--  <div class="item">
										          		<img src="img/site/servizi_c4_2.jpg" style="width: 254px; height: 198px;"/>
										        	</div>-->
								      			</div>

								      			<div class="carousel-caption taller">
										          	<p>terza età</p>
										        </div>

								  			</div>
								  		</div>								  		
								    </div>
								    <div class="row">
								    	<div class="col-md-3 col-md-offset-1">
											<div id="carousel5" class="carousel slide" data-interval="3000" >
												<!--<ol class="carousel-indicators taller">
													<li data-target="#carousel5" data-slide-to="0" class="active"></li>
													<li data-target="#carousel5" data-slide-to="1"></li>
												</ol>-->
										      
										      	<div class="carousel-inner">
										        	<!--<div class="item active">
										          		<img src="img/site/servizi_c5_1.jpg" style="width: 254px; height: 198px; "/>
										        	</div>-->
										        	<div class="item active">
										          		<img src="img/site/servizi_c5_2.jpg" style="width: 254px; height: 198px;"/>
										        	</div>
								      			</div>

								      			<div class="carousel-caption taller">
										          	<p>attività sportiva agonistica ed amatoriale</p>
										        </div>
								  			</div>
								  		</div>
								  		<div class="col-md-3">
											<div id="carousel6" class="carousel slide" data-interval="3000" >
												<!--<ol class="carousel-indicators taller">
													<li data-target="#carousel6" data-slide-to="0" class="active"></li>
													<li data-target="#carousel6" data-slide-to="1"></li>
												</ol>-->
										      
										      	<div class="carousel-inner">
										        	<!--<div class="item active">
										          		<img src="img/site/servizi_c6_1.jpg" style="width: 254px; height: 198px; "/>
										        	</div>-->
										        	<div class="item active">
										          		<img src="img/site/servizi_c6_2.jpg" style="width: 254px; height: 198px;"/>
										        	</div>
								      			</div>

								      			<div class="carousel-caption taller">
										          	<p>condizioni di vita e lavoro stressanti</p>
										        </div>
								  			</div>
								  		</div>
										<div class="col-md-3">
											<div id="carousel7" class="carousel slide" data-interval="3000" >
												<!--<ol class="carousel-indicators">
													<li data-target="#carousel7" data-slide-to="0" class="active"></li>
													<li data-target="#carousel7" data-slide-to="1"></li>
												</ol>-->
										      
										      	<div class="carousel-inner">
										        	<div class="item active">
										          		<img src="img/site/servizi_c7_1.jpg" style="width: 254px; height: 198px; "/>
										        	</div>
										        </div>

								      			<div class="carousel-caption taller">
										          	<p>regime alimentare lacto-ovo vegetariano o vegano</p>
										        </div>
								  			</div>
								  		</div>								  			
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<br/>
			<br/>

			<h3 class="underline" fc-scroll-to="'collettivita'" fc-current-position="{{ $stateParams.pos }}" ><span>Servizi per la collettività</span></h3>
			<div class="row">
				<div class="col-md-4">
					<div class="box">							
						<div class="icon">
							<img class="image" src="img/site/servizi6.jpg" width="180" height="180" alt="Motivatore">
							<div class="info">
								<p>
									Progetti di educazione alimentare e sorveglianza nutrizionale per Istituti Scolastici ed Amministrazioni Pubbliche 
								</p>
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>		
				<div class="col-md-4">
					<div class="box">							
						<div class="icon">
							<img class="image" src="img/site/servizi7.jpg" width="180" height="180" alt="Motivatore">
							<div class="info">
								<p>
									Elaborazione di menù e consulenze nella corretta gestione igienica (manuali di autocontrollo HACCP) di mense e ristorazione collettiva
								</p>
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>		
				<div class="col-md-4">
					<div class="box">							
						<div class="icon">
							<img class="image" src="img/site/servizi8.jpg" width="180" height="180" alt="Motivatore">
							<div class="info">
								<p>
									Attività di consulenza alimentare per centri medici, società sportive, palestre, centri fitness ed estetici
								</p>
								
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="box">							
						<div class="icon">
							<img class="image" src="img/site/servizi9.jpg" width="180" height="180" alt="Motivatore">
							<div class="info">
							
								<p>
									Corsi di educazione alimentare per bambini e genitori
								</p>
								
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>		
				<div class="col-md-6">
					<div class="box">							
						<div class="icon">
							<img class="image" src="img/site/servizi10.jpg" width="180" height="180" alt="Motivatore">
							<div class="info">
							
								<p>
									Corsi di cucina in collaborazione con chef e ristoratori
								</p>
								
							</div>
						</div>
						<div class="space"></div>
					</div> 
				</div>		
			</div>

		</div>
	</div>
</div>

<!--
<div class="row">
	<div class="col-md-12">
		<div>
			<h3 fc-scroll-to="'collettivita'" fc-current-position="{{ $stateParams.pos }}" >Servizi per la collettivit&agrave;</h3>

			<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
</div>
-->