/* app css stylesheet */

@font-face {
    font-family: 'Bradley Hand ITC';
    font-style:  normal;
    font-weight: normal;
    src: url(../lib/fonts/BRADLEY1.eot);
}

@font-face { 
  font-family: 'Great Vibes'; 
  src: url('../lib/fonts/greatvibes.eot'); 
  src: url('../lib/fonts/greatvibes.eot?#iefix') format('embedded-opentype'), 
       url('../lib/fonts/greatvibes.svg#Great Vibes') format('svg'), 
       url('../lib/fonts/greatvibes.woff') format('woff'), 
       url('../lib/fonts/greatvibes.ttf') format('truetype'); 
  font-weight: normal; font-style: normal;
}

@font-face {
  font-family: 'EntypoRegular';
  src: url('../lib/fonts/entypo.eot');
  src: url('../lib/fonts/entypo.eot?#iefix') format('embedded-opentype'),
       url('../lib/fonts/entypo.woff') format('woff'),
       url('../lib/fonts/entypo.ttf') format('truetype'),
       url('../lib/fonts/entypo.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family:"Andalus";
  src:url("../lib/fonts/andalus.eot?") format("eot"),
      url("../lib/fonts/andalus.woff") format("woff"),
      url("../lib/fonts/andalus.ttf") format("truetype"),
      url("../lib/fonts/andalus.svg#Andalus") format("svg");
  font-weight:normal;
  font-style:normal;
}


body {
    color: #295B29;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
}

p {
	font-weight: bold;	
}

.lead {
	font-weight: bold;	
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, h4 small {
	color: #295B29;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-weight: bold;
}

h2.title {
    font-size: 35px;
    line-height: 40px;
    margin: 20px 0;
}

h2.title.ng-hide-remove {
  animation: bounce 1s;
  -webkit-animation: bounce 1s;
}


div.centrato {
  text-align: center;
}

.title-wrapper {
	background: #FAFAFA;
	border: 1px solid #DDD;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(#f8f8f8),to(#fafafa));
	background: -webkit-linear-gradient(top,#f8f8f8,#fafafa);
	background: -moz-linear-gradient(top,#f8f8f8,#fafafa);
	background: -ms-linear-gradient(top,#f8f8f8,#fafafa);
	background: -o-linear-gradient(top,#f8f8f8,#fafafa);
	margin-bottom: 10px;
}

.tabbable .a {
	color: #408F40;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}


/*
.socialButtons {
  padding-top: 15px;
}
.socialButtons li {
  margin-right: 5px;
}
*/

.master-view.ng-enter.ng-enter-active {
  animation: fadeIn 2s;
}

.master-view.ng-leave.ng-leave-active {
  animation: fadeOut 2s;
}

/* per direttiva dnDisplayMode */
.display-mode {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
 
.display-mode span {
  display: inline-block;
  height: 1px;
  width: 1px;
}
 
@media only screen and (max-width: 712px) {
  .display-mode .tablet,
  .display-mode .tablet-landscape,
  .display-mode .desktop {
    display: none;
  }
}
 
@media only screen and (min-width: 713px) and (max-width: 954px) {
  .display-mode .mobile,
  .display-mode .tablet-landscape,
  .display-mode .desktop {
    display: none;
  }
}
 
@media only screen and (min-width: 955px) and (max-width: 1195px) {
  .display-mode .mobile,
  .display-mode .tablet,
  .display-mode .desktop {
    display: none;
  }
}
 
@media (min-width: 1196px) {
  .display-mode .mobile,
  .display-mode .tablet,
  .display-mode .tablet-landscape {
    display: none;
  }
}
/* fine per direttiva dnDisplayMode */


/* switch 
.switch {
	position: relative;
}

.switch-repeat {
    position: absolute; 
}
 fine switch */


/* animazione switch 
.animateslideshow {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:1;
}

.animateslideshow.ng-hide {
  opacity:0;
}

.animateslideshow.ng-hide-add, .animateslideshow.ng-hide-remove {

  display:block!important; 
}

fine animazione switch */

/* colonne contatti */
.leftspan[class*="span"]
{
    padding-right: 5px;
    border-right: 1px solid #ccc;
}

.rightspan[class*="span"] 
{
    margin-left: -0.138297872340425%;
    *margin-left: -0.13191489361702%;
    padding-left:20px;
    /*border-left: 1px solid #ccc;*/
}

.rightspan[class*="span"]:first-child 
{
    margin-left: -0.11063829787234%;
    *margin-left: -0.104255319148938%;
}
/* fine colonne contatti */




/* google maps */
.map {
  height: 260px;
  padding: 5px;
}
/* 
Fixes Bootstrap issues with Google Maps
see http://stackoverflow.com/a/9170756 
*/
.map img { 
  max-width: none;
}

.center {
    text-align: center !important;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* fine google maps */



/* css per blog */
.tabs-left>.nav-tabs>li>a:hover, .tabs-left>.nav-tabs>li>a:focus {
  cursor: pointer;
}

.tabs-left>.nav-tabs {
  float: right;
}

.blog-post {
  padding: 5px;
}

/* fine css per blog */


/* footer */
footer {
  font-family: Open Sans, Arial, Helvetica, sans-serif;
  padding: 30px 0 20px;
  background-color: #AED749;
  color: #295B29;
  margin-top: 60px;
  border-top: 1px solid #ffffff;
} 

footer h4 {
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	color: #295B29;
}

footer a {
  color: #295B29;
}

footer a:hover {
  text-decoration: none;
  color: #F0EEEE;
}

footer a.social .fa-circle {
  color: #295B29;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

footer a.social .fa-facebook {
  color: white;
}

footer a:hover.social-facebook .fa-circle {
  color: #3B5999;
}

footer a:hover.social-linkedin .fa-circle {
  color: #017EB4;
}



/* end footer */


/** Scroll to top button **/
.to-top { 
	opacity:0; 
	filter:alpha(opacity=0); 
	position:fixed; 
	right:-50px;  
	width:49px; 
	z-index:9999; 
	display:block; 
	top:85%; 
	background-image:url("../img/arrow_totop.png"); 
	background-repeat:no-repeat; 
	background-position:center 15px; 
	background-color:#404040; 
	font-size: 9px; 
	font-weight: 900; 
	color: #fff; 
	text-align: center; 
	line-height: 1; 
	padding: 28px 0 12px 0;
	-webkit-border-radius:2px; 
	-moz-border-radius:2px; 
	border-radius:2px; 
	-webkit-transition: all ease-out 0.2s; 
	-moz-transition: all 0.2s ease-out; 
	-o-transition: all 0.2s ease-out; 
	-ms-transition: all 0.2s ease-out; 
	transition: all ease-out 0.2s;
}
.to-top.on { 
	right:10px; 
	opacity:0.7; 
	filter:alpha(opacity=70);
}

.to-top:hover { 
	opacity:1; 
	filter:alpha(opacity=100);
	text-decoration: none; 
	cursor: auto;
	color: #fff
}


.contattami {
	position:fixed; 
	left:10px;
	top:65%;
	background: url('../img/post-it-yellow.png') no-repeat center center;
	background-size: 100% auto;
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
  color: #408F40;
}

.contattami:hover {
	text-decoration: none;
  animation: swing 3s infinite ease-in-out;
  -moz-animation: 3s ease 0s normal none infinite swing;
  -webkit-animation: swing 3s infinite ease-in-out;
  transform-origin: top;
  -moz-transform-origin: center top;
  -webkit-transform-origin:top;
}

@-moz-keyframes swing{
    0%{-moz-transform:rotate(-3deg)}
    50%{-moz-transform:rotate(3deg)}
    100%{-moz-transform:rotate(-3deg)}
}
@-webkit-keyframes swing{
    0%{-webkit-transform:rotate(-3deg)}
    50%{-webkit-transform:rotate(3deg)}
    100%{-webkit-transform:rotate(-3deg)}
}

.icon-vcard {
  font-family: EntypoRegular, Arial, Helvetica, sans-serif;  
  font-size: 20em;
  color: #408F40;
  -webkit-transition: font-size 200ms ease;
  -moz-transition: font-size 200ms ease;
  -ms-transition: font-size 200ms ease;
  -o-transition: font-size 200ms ease;
  transition: font-size 200ms ease;
}

.icon-vcard:hover {
  text-decoration: none;
  color: #408F40;
  font-size: 22em;
}

/*  THE NAVBAR  */

.navbar {
	border-radius: 0;
	margin-bottom: 0px;
}

.navbar .dropdown-menu {
	top: 70%;
}

.navbar-brand {

	font-family: 'Gochi Hand', cursive;
	font-size: 2.8em;
	font-weight: bold;

	display: inline-block; 
	vertical-align: middle;
	background: url("../img/logo_grande.png") no-repeat 0 0;
	height: 100px;
	/*width: 500px;*/
	
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.navbar-brand > p {
  	color: #295B29;
	position: relative;
	left: 100px;
	top: 5px;
	line-height: 100%;
}

.navbar-inverse.navbar-narrow .navbar-brand {
	
	height: 50px;
	font-size: 2.0em;
  	background: url("../img/logo.png") no-repeat 0 0;
	/*width: 700px;*/
}

.navbar-inverse.navbar-narrow .navbar-brand > p {
	left: 50px;
	top: 15px;
}


.navbar-inverse .navbar-brand {
  padding: 0;
  color: #295B29;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: transparent;
  color: #FFFFFF;
}




.navbar-inverse {
	background-color: #AED749;
	border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 1.1em;
  font-weight: bold;
	color: #295B29;
	line-height: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	-webkit-transition: height 0.5s linear;
	-moz-transition: height 0.5s linear;
	-ms-transition: height 0.5s linear;
	-o-transition: height 0.5s linear;
	transition: height 0.5s linear;
}

.navbar-inverse.navbar-narrow {
	background-color: #AED749;
}

.navbar-inverse.navbar-narrow .navbar-nav > li > a {
	color: #295B29;
	line-height: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar-inverse.navbar-narrow .navbar-nav.navbar-right:last-child {
	margin-right: 5px;
}

.navbar-inverse.navbar-narrow .navbar-nav > .active > a, .navbar-inverse.navbar-narrow .navbar-nav > .active > a:hover, .navbar-inverse.navbar-narrow .navbar-nav > .active > a:focus,
.navbar-inverse.navbar-narrow .navbar-nav > .open > a, .navbar-inverse.navbar-narrow .navbar-nav > .open > a:hover, .navbar-inverse.navbar-narrow .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #FFFFFF;
}

.navbar-inverse .dropdown-menu {
  font-size: 1.0em;
  background-color: #AED749;
}

.navbar-inverse .dropdown-menu > li > a {
  color: #295B29;
}

.navbar-inverse .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: transparent;
  color: #FFFFFF;
}

.navbar-inverse .dropdown-menu > li > a, {
  background-color: transparent;
}

.navbar-inverse .dropdown-menu > li > a:hover, .navbar-inverse .dropdown-menu > li > a:focus {
  background-color: transparent;
  color: #FFFFFF;
}

.navbar-inverse.navbar-narrow .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: transparent;
  color: #FFFFFF;
}

.navbar-inverse .navbar-toggle {
  border-color: #295B29;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #295B29;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #56B92F;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #295B29;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 350px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 350px;
}



/* carousel */
.carousel a { 
	cursor: pointer; 
}

.carousel .item {
	background-repeat:no-repeat;
  background-position: center center;
  height: 100%;
}

.carousel blockquote {
	font-family: 'Gochi Hand', cursive;
	font-size: 1.3em;
	color: #ffffff;
	border-left: 0px;
	position: relative;
	top: 30px;
	left: 75%;
	background-color: rgba(4, 39, 7, 0.59);
	width: 20%;
}

.carousel blockquote > p {
 /* font-weight: bold; */
 	font-size: 1.0em;
}

.carousel blockquote small {
	color: #ffffff;
}

.carousel-control .glyphicon-chevron-right {
  right: 15%;
}

.carousel-control .glyphicon-chevron-left {
  left: 15%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media only screen and (max-width: 1024px) {
	.featurette-image {
	  	max-width: 100%;
      height: auto;
	}
}

@media only screen and (max-width: 1195px) {
  .featurette-heading {
    margin-top: 10px;
    font-size: 25px;
  }

  .navbar-brand {
    font-size: 1.6em;
    background: url("../img/logo.png") no-repeat 0 0;
    height: 50px;
    /*width: 250px;*/
  }

  .navbar-brand > p {
    left: 50px;
    top: 15px;
  }

  .navbar-inverse .navbar-nav > li > a {
    font-size: 1.0em;
    line-height: 50px;
  }

  .navbar-inverse.navbar-narrow .navbar-nav > li > a {
    line-height: 25px;
  }

  .carousel blockquote {
    width: 30%;
    left: 65%;
  }
  
  

}

@media only screen and (min-width: 955px) and (max-width: 1195px) {
  .navbar-brand > p {
    top: 2px;
    font-size: 0.9em;
  }
}



@media only screen and (max-width: 700px) {

  .navbar-brand > p {
    top: 15px;
    font-size: 0.9em;
  }


  .navbar-inverse .navbar-nav > li > a {
    font-size: 1.0em;
    line-height: 30px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #295B29;
  }

}

@media (min-width: 768px) {

  .featurette-container {
    display: table;
    height: 400px;
  }

  .featurette-container-inner {
    display: table-cell;
    vertical-align: middle;
  }

  .featurette-image-container-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .featurette-image-container-small {
    text-align: center;
    line-height: 400px;
    height: 400px;
  } 

  .featurette-image-container-small .no-valign {
    vertical-align: inherit;
  }

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }


  .carousel-inner {
    height: 350px;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  
} /* end media (min-width: 768px) */


.gradient {
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZTZmMGEzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMzclIiBzdG9wLWNvbG9yPSIjZDJlNjM4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjYzNkODI1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q2ZWYxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(45deg,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 37%, rgba(195,216,37,1) 66%, rgba(214,239,23,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(230,240,163,1)), color-stop(37%,rgba(210,230,56,1)), color-stop(66%,rgba(195,216,37,1)), color-stop(100%,rgba(214,239,23,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 37%,rgba(195,216,37,1) 66%,rgba(214,239,23,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 37%,rgba(195,216,37,1) 66%,rgba(214,239,23,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 37%,rgba(195,216,37,1) 66%,rgba(214,239,23,1) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 37%,rgba(195,216,37,1) 66%,rgba(214,239,23,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#d6ef17',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}


/* pulsanti */
.btn-dove-siamo .btn-primary {
  background-color: #AED749;
  border-color: #263500;
}

.btn-dove-siamo .btn-primary[disabled] {
  background-color: #AED749;
  border-color: #263500; 
}

.btn-dove-siamo .btn-primary:hover, .btn-dove-siamo .btn-primary:focus, .btn-dove-siamo .btn-primary:active, .btn-dove-siamo .btn-primary.active {
  background-color: rgba(38, 170, 0, 1);
  border-color: #263500;
}


.motivatore-metodo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.motivatore-metodo blockquote {
  margin-top: 60px;
}

.medodo-container-small {
    line-height: 400px;
    height: 400px;
}



.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 210px; height: 210px; border: 8px solid white; line-height: 210px; border-radius: 50%; vertical-align: inherit; }
/*.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; } 
.box > .icon:hover > .image > i { color: white !important; } */
.box > .icon > .info { margin-top: -90px; background: rgba(76, 226, 56, 0.1); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height: 250px; }
.box > .icon > .info.no-margin { margin-top: 0px; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { margin-top: 90px; font-size: 20px; } 
.box > .icon > .info.no-margin > p { margin-top: 20px;} 
.box > .icon > .info > p.align-left { text-align: justify; margin-right: 20px; margin-left: 20px; } 
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box .space { height: 15px; }


.box .carousel {
  width: 254px;
  height: 198px;
  margin-left: 20px;
}

.box .carousel-inner {
  height: 198px;
}

/* Since positioning the image, we need to help out the caption */
.box .carousel-caption {
  z-index: 10;
  right: 0; 
  left: 0; 
  padding-bottom: 0;
  position: absolute;
  bottom: 0;
  height: 50px;
  background: rgba(0,0,0,0.7);
  color: white;
}

.box .carousel-caption  p {
  font-size: 1em;
  line-height: 1.4;
}

.box .carousel-caption.taller {
  height: 70px;
}

.box .carousel-indicators {
  bottom: 12px;
}

.box .carousel-indicators.taller {
  bottom: 34px;
}

.box .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Declare heights because of positioning of img element */
.box .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

.box .row {
  margin-top: 2%;
}


.underline {
  border-bottom: 1px solid;
}

.underline > span {
  border-bottom: 1px solid;
  display: inline-block;
}

.card {
  min-height: 250px;
}

.privacy-modal > .modal-dialog {
  width: 800px;
}

.privacy-modal .modal-header {
  border-bottom: 0px;
}



.dove-siamo.row {
  height: 350px;
}

.dove-siamo.row > .col-dove-siamo {
  height: 100%;
}

.dove-siamo.row > .col-dove-siamo > .caption-dove-siamo {
  text-align: center;
  position: relative;
  top: 42%;
  color: white;
  font-size: 50px;
  font-weight: bold;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
}

.dove-siamo.row > .col-dove-siamo img {
  margin-right: auto;
  margin-left: auto;
}

.dove-siamo.row > .col-dove-siamo > .foto1-dove-siamo {
  position: relative;
  top: 13%;  
  animation-duration: 3s;
  animation-name: slideInRight;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: slideInRight;
}


.dove-siamo.row > .col-dove-siamo > .foto2-dove-siamo {
  position: relative;
  top: 13%;  
  animation-duration: 3s;
  animation-name: slideInRight;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: slideInRight;
}


.animated-slow {
  -moz-animation-duration: 2s;
  -moz-animation-delay: .2s;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: .2s;
  animation-duration: 2s;
  animation-delay: .2s;
}

.giustificato {
  text-align: justify;
}