<!doctype html>
<html lang="en" ng-app="myApp">

    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="seo" content="*angularjsseo*">
        <title>Dr.ssa Maria Laura Tortorella</title>
      	<link href="lib/normalize.css" rel="stylesheet" />
      	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
      	<link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
        <link href="lib/bootstrap-3.0.3/css/bootstrap.css" rel="stylesheet" />
        <link href="lib/bootstrap.vertical-tabs.css" rel="stylesheet" />
        <link href="lib/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet" />
        <link href="lib/ladda.css" rel="stylesheet" />
        <link href="lib/angular-carousel.css" rel="stylesheet" />
        <link href="lib/animate.css" rel="stylesheet" />
        <link href="css/app.css" rel="stylesheet" />

        <link rel="shortcut icon" href="favicon.ico" type="x-icon">
        <link rel="icon" href="favicon.ico" type="x-icon">
        <link rel="image_src" href="img/logo_grande.png" />
    </head>

    <body ng-cloak fc-scroll-down="$rootScope.scrollDown" ng-controller="SiteController">
    	<a id="top"></a>
   		<div class="navbar-wrapper">

			        <div class="navbar navbar-inverse" ng-controller="NavBarController" role="navigation" ng-class="{ 'navbar-narrow navbar-fixed-top': $rootScope.scrollDown && $rootScope.displayMode == 'desktop' }">
						            <div class="navbar-header">
							           	<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed"> 
						                   <span class="icon-bar"></span>
						                   <span class="icon-bar"></span>
						                   <span class="icon-bar"></span>
						               	</button>
				
						               	<a class="navbar-brand" ui-sref="home">
							              	<p>Dr.ssa <span ng-show="$rootScope.displayMode != 'mobile' && $rootScope.displayMode != 'tablet'">Maria Laura</span> Tortorella 
							              		<small ng-show="$rootScope.displayMode != 'mobile' && $rootScope.displayMode != 'tablet'">
							              			<br ng-hide="$rootScope.scrollDown" />
							              			<span ng-show="$rootScope.scrollDown"> - </span>Biologa nutrizionista
							              		</small>
							              	</p>
						               	</a>
									</div>
						            <div class="navbar-collapse navbar-collapse" collapse="isCollapsed">
						                <ul class="nav navbar-nav navbar-right">
						                    <li ng-class="{ active: $state.includes('home') }">
						                         <a ui-sref="home">Home</a>
						                    </li>
						                    <li ng-class="{ active: $state.includes('metodo') }">
						                         <a ui-sref="metodo">Metodo di lavoro</a>
						                    </li>
						                    <li class="dropdown" ng-class="{ active: $state.includes('servizi') }">
						                        <a style="display: inline-block; padding-right: 5px;" ui-sref="servizi({pos: 'top'})"
						                      		>Servizi</a><a style="display: inline-block; padding-left: 0px;" href="#" class="dropdown-toggle"><i class="fa fa-caret-down"></i></a>
						                        <ul class="dropdown-menu">
						                            <li ui-sref-active="active">
						                                 <a ui-sref="servizi({pos: 'individuo'})">Servizi per l'individuo</a>
						                            </li>
						                            <li ui-sref-active="active">
						                                 <a ui-sref="servizi({pos: 'collettivita'})">Servizi per la collettivit&agrave;</a>
						                            </li>
						                        </ul>
						                    </li>
						                    <!-- 
						                    <li ng-class="{ active: $state.includes('blog') }">
						                         <a ui-sref="blog">Blog</a>
						                    </li>
						                     -->
						                    <li ng-class="{ active: $state.includes('dovesiamo') }">
						                         <a ui-sref="dovesiamo">Dove sono</a>
						                    </li> 
						                    <li ng-class="{ active: $state.includes('contatti') }">
						                         <a ui-sref="contatti">Contatti</a>
						                    </li>
						                    

		  									<li ng-hide="$rootScope.scrollDown || $rootScope.displayMode != 'desktop' ">
		  										<div style="display: inline-block; height: 100px; margin-left:10px;">
		  											<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fmarialauratortorellabiologanutrizionista&amp;layout=box_count&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:61px; position:relative; top:20px;" allowTransparency="true"></iframe>
		  										</div>		
		  									</li>
		  									<li ng-hide="$rootScope.scrollDown || $rootScope.displayMode != 'desktop' ">
		  										<a href="http://www.onb.it/" target="_blank" ><img src="img/ONB.png"></a>
		  									</li>  									
						                    
						                </ul>
						            </div>
			        </div>
		</div>

<!--
		<div ng-controller="LocalCarouselController" ng-show="$rootScope.displayMode != 'mobile' && $rootScope.displayMode != 'tablet'">
			<ul rn-carousel rn-carousel-indicator rn-carousel-control class="carousel slide">
				<li ng-repeat="slide in slides" class="item gradient" ng-style=" slide.banner && {'background-image': 'url(' + slide.banner + ')', 'background-size': 'cover' }"> 
	              	<blockquote class="quote animated slideInRight">
	              		<p>{{slide.quote}}</p>
	              		<small>{{slide.author}}</small>
	        		</blockquote>
				</li>
			</ul>
		</div>
		<div ng-controller="LocalCarouselController">
			<carousel interval="intervallo">
				<slide ng-repeat="slide1 in slides" active="slide1.active">
					<img ng-src="{{slide1.banner}}" style="margin: auto;">
					<blockquote class="animated slideInRight">
	              		<p>{{slide1.quote}}</p>
	              		<small>{{slide1.author}}</small>
	        		</blockquote>
				</slide>
			</carousel>
		</div>
-->

	<!-- Carousel
	    ================================================== data-ride="carousel" data-interval="{{intervallo}}" 
	    <div id="myCarousel" class="carousel slide" data-interval="false" ng-controller="LocalCarouselController" 
	    	ng-show="$rootScope.displayMode != 'mobile' && $rootScope.displayMode != 'tablet'">
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" ng-repeat="slide1 in slides" data-slide-to="{{$index}}" ng-class="{'active' : $index == selectedSlideIndex}"></li>
	      </ol>
	      
	      <div class="carousel-inner">
	        <div class="item gradient" ng-repeat="slide1 in slides" ng-class="{'active' : $index == selectedSlideIndex}">
	 	        <img ng-src="{{slide1.banner}}" ng-show="slide1.banner" />
				<blockquote class="animated slideInRight" ng-show="slide1.quote">
	          		<p>{{slide1.quote}}</p>
	          		<small>{{slide1.author}}</small>
	    		</blockquote>
	    		<div ng-bind-html="sanitize(slide1.content)"></div>
	        </div>
	      </div>
	  	
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div> /.carousel -->


	    <div id="myCarousel" class="carousel slide" data-interval="false" ng-controller="LocalCarouselController" 
	    	ng-show="$rootScope.displayMode != 'mobile' && $rootScope.displayMode != 'tablet'">

	      <ol class="carousel-indicators">
	        <li ng-repeat="slide1 in slides" ng-click="select($index)" ng-class="{'active' : $index == selectedSlideIndex }"></li>
	      </ol>
	      
	      <div class="carousel-inner">
	        <div class="item gradient" ng-repeat="slide1 in slides" ng-class="{'active' : $index == selectedSlideIndex, 'prev' : $index == selectedSlideIndex - 1, 'next' : $index == selectedSlideIndex + 1}">
	 	        <img ng-src="{{slide1.banner}}" ng-show="slide1.banner" />
				<blockquote class="animated slideInRight" ng-show="slide1.quote">
	          		<p>{{slide1.quote}}</p>
	          		<small>{{slide1.author}}</small>
	    		</blockquote>
	    		<div ng-bind-html="sanitize(slide1.content)"></div>
	        </div>
	      </div>
	  	
	      <a class="left carousel-control" href="" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="right carousel-control" href="" ng-click="next()"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div><!-- /.carousel -->


		<div class="title-wrapper">
			<div class="container">
	      		<div class="row">
	                <div class="col-md-12">
	               		<h2 class="title" ng-show="ready">{{ $state.current.data.title }}</h2> 	
	      	    	</div>
	      	    
	      	    </div>  
			</div>
		</div>
      
      	<div class="container marketing">
            <div class="row">
                <div class="col-md-12">
                    
                    <div ui-view class="master-view"></div>
                    
                    <a class="to-top" ng-controller="ToTopController" ng-click="tornaSu()" 
						ng-class="{'on': $rootScope.scrollDown}" 
						ng-show="$rootScope.displayMode != 'mobile' && $rootScope.displayMode != 'tablet'" />
                </div>
                
            </div>
        </div>    


		<div class="visible-md">
			<a ui-sref="contatti" class="contattami" ng-show="$rootScope.displayMode != 'mobile' && $rootScope.displayMode != 'tablet' && $rootScope.displayMode != 'tablet-landscape' && !$state.includes('contatti')">Contattami!</a>
		</div>


		<footer>
           <div class="container">
              <section class="row">
                 <div class="col-md-4">
                    <h4>Dr.ssa Maria Laura Tortorella</h4>
                    <ul class="list-unstyled">
                       <li>Biologa nutrizionista</li>
                       <li>Iscrizione Albo n&#176; 068121</li>
                       <li>P.I. 04539760753</li>
                       <li><small>Tutti i diritti riservati</small></li>
                       <li><a title="Privacy Policy" href="" ng-click="openPrivacyPolicy()"><small>Privacy Policy</small></a></li>
                    </ul>
                 </div>
                 <div class="col-md-4">
                    <h4>Contatti</h4>
                    <ul class="list-unstyled">
                       <li><i class="fa fa-phone"></i> +39 3491623792</li>
                       <li><i class="fa fa-envelope"></i> <a ng-href="mailto:mltortorella.nutrizione@gmail.com">mltortorella.nutrizione@gmail.com</a></li>
                    </ul>
                 </div>
                 <div class="col-md-2">
                    <h4>Mappa del sito</h4>
                    <ul class="list-unstyled">
                       <li><a ui-sref="home">Home</a></li>
                       <li><a ui-sref="metodo">Metodo di lavoro</a></li>
                       <li><a ui-sref="servizi">Servizi</a></li>                       
                       <!-- <li><a ui-sref="blog">Blog</a></li> -->
                       <li><a ui-sref="dovesiamo">Dove sono</a></li>
                       <li><a ui-sref="contatti">Contatti</a></li>
                    </ul>
                 </div>
                 <div class="col-md-2">
                    <h4>Seguimi su</h4>
                    <a href="https://www.facebook.com/marialauratortorellabiologanutrizionista" title="Facebook" class="social social-facebook">
                    	<span class="fa-stack fa-lg">
  							<i class="fa fa-circle fa-stack-2x"></i>
  							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
                    	
                    </a>
                    <a href="http://it.linkedin.com/pub/maria-laura-tortorella/22/8/243" title="Facebook" class="social social-linkedin">
                    	<span class="fa-stack fa-lg">
  							<i class="fa fa-circle fa-stack-2x"></i>
  							<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
						</span>
                    	
                    </a>
                 </div>
              </section>
              <section class="row">
                 <div class="col-md-12">
                    <small>&copy; Copyright 2014 by <a href="https://plus.google.com/+FrancescoCarlucci77/">Francesco Carlucci</a></small>
                </div>
            </section>
           </div>
		</footer>
        
        <div class="display-mode" dn-display-mode="$rootScope.displayMode" ></div>


        <script src="lib/jquery-2.0.3.min.js"></script>
        <script src="lib/bootstrap-3.0.3/js/bootstrap.js"></script>
        <script src="lib/angularjs-1.2.13/angular.js"></script>
        <script src="lib/angularjs-1.2.13/angular-animate.js"></script>
        <script src="lib/angularjs-1.2.13/angular-touch.js"></script>
        <script src="lib/ui-router-0.2.8.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.10.0_nocarousel.js"></script>

        <script src="lib/angular-disqus.min.js"></script>
        <script src="lib/ladda.js"></script>
        <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="lib/angular-gm-1.0.0/angular-gm.js"></script>
		<script src="lib/angular-carousel.js"></script>
		<script src="lib/angular-inview.js"></script>

        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>

        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-50526171-1', 'mltortorella-nutrizione.it');
		  ga('send', 'pageview');
		
		</script>

    </body>

</html>