<html lang="en" ng-app="myApp" class="ng-scope"><head><style type="text/css">.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}</style><style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style><link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}</style><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}</style>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="seo" content="*angularjsseo*">
        <title>Dr.ssa Maria Laura Tortorella</title>
      	<link href="lib/normalize.css" rel="stylesheet">
      	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
      	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
        <link href="lib/bootstrap-3.0.3/css/bootstrap.css" rel="stylesheet">
        <link href="lib/bootstrap.vertical-tabs.css" rel="stylesheet">
        <link href="lib/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="lib/ladda.css" rel="stylesheet">
        <link href="lib/angular-carousel.css" rel="stylesheet">
        <link href="lib/animate.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">

        <link rel="shortcut icon" href="favicon.ico" type="x-icon">
        <link rel="icon" href="favicon.ico" type="x-icon">
    <style type="text/css"></style><script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/cat_js/intl/it_it/mapfiles/api-3/16/8/%7Bcommon,map%7D.js" style=""></script><script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/cat_js/intl/it_it/mapfiles/api-3/16/8/%7Butil,marker%7D.js"></script><script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/cat_js/intl/it_it/mapfiles/api-3/16/8/%7Binfowindow%7D.js"></script><script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/cat_js/intl/it_it/mapfiles/api-3/16/8/%7Bonion%7D.js"></script><script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/cat_js/intl/it_it/mapfiles/api-3/16/8/%7Bcontrols%7D.js"></script><script type="text/javascript" charset="UTF-8" src="http://maps.googleapis.com/maps/api/js/ViewportInfoService.GetViewportInfo?1m6&amp;1m2&amp;1d41.83057134648156&amp;2d12.349309263333112&amp;2m2&amp;1d42.028517875521544&amp;2d12.726046205699504&amp;2u12&amp;4sit-IT&amp;5e0&amp;6sm%40259000000&amp;7b0&amp;8e0&amp;9b0&amp;callback=_xdc_._e4b9u9&amp;token=79800"></script><script type="text/javascript" charset="UTF-8" src="http://maps.gstatic.com/cat_js/intl/it_it/mapfiles/api-3/16/8/%7Bstats%7D.js"></script><script type="text/javascript" charset="UTF-8" src="http://mt0.googleapis.com/mapslt/ft?hl=it-IT&amp;lyrs=m%40259000000%7Csalt%3A1484351913&amp;las=vutuwuuuvvtv,vutuwuuuvvtw,vutuwuuuvvuv,vutuwuuuvvvt,vutuwuuuvvvu,vutuwuuuvvvv,vutuwuuuvvvw,vutuwuuuvvwt,vutuwuuuvvwv&amp;z=12&amp;src=apiv3&amp;xc=1&amp;style=47%2C37%7Csmartmaps&amp;callback=_xdc_._3rcq8r&amp;token=5627"></script><script type="text/javascript" charset="UTF-8" src="http://mt0.googleapis.com/mapslt/ft?hl=it-IT&amp;lyrs=m%40259059777%7Csalt%3A1484351913&amp;las=vutuwuuuvvtv,vutuwuuuvvtw,vutuwuuuvvuv,vutuwuuuvvvt,vutuwuuuvvvu,vutuwuuuvvvv,vutuwuuuvvvw,vutuwuuuvvwt,vutuwuuuvvwv&amp;z=12&amp;src=apiv3&amp;xc=1&amp;style=47%2C37%7Csmartmaps&amp;callback=_xdc_._z1gn32&amp;token=120599"></script><script type="text/javascript" charset="UTF-8" src="http://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1shttp%3A%2F%2Flocalhost%3A8888%2F%23!%2Fdovesiamo%23top&amp;5e1&amp;callback=_xdc_._mljk3v&amp;token=5833"></script></head>

    <body fc-scroll-down="$rootScope.scrollDown" ng-controller="SiteController" style="" class="ng-scope ng-isolate-scope">
    	<a id="top"></a>
   		<div class="navbar-wrapper">

			        <div class="navbar navbar-inverse ng-scope" ng-controller="NavBarController" role="navigation" ng-class="{ 'navbar-narrow navbar-fixed-top': $rootScope.scrollDown &amp;&amp; $rootScope.displayMode == 'desktop' }">
						            <div class="navbar-header">
							           	<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed"> 
						                   <span class="icon-bar"></span>
						                   <span class="icon-bar"></span>
						                   <span class="icon-bar"></span>
						               	</button>
				
						               	<a class="navbar-brand" ui-sref="home" href="#!/home">
						               
							              	<p>Dr.ssa <span ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'" class="ng-hide">Maria Laura</span> Tortorella 
							              		<small ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'" class="ng-hide">
							              			<br ng-hide="$rootScope.scrollDown" class="">
							              			<span ng-show="$rootScope.scrollDown" class="ng-hide"> - </span>Biologa nutrizionista
							              		</small>
							              	</p>
						               	</a>
									</div>
						            <div class="navbar-collapse navbar-collapse collapse" collapse="isCollapsed" style="height: 0px; ">
						                <ul class="nav navbar-nav navbar-right">
						                    <li ng-class="{ active: $state.includes('home') }">
						                         <a ui-sref="home" href="#!/home">Home</a>
						                    </li>
						                    <li ng-class="{ active: $state.includes('metodo') }">
						                         <a ui-sref="metodo" href="#!/metodo">Metodo di lavoro</a>
						                    </li>
						                    <li class="dropdown" ng-class="{ active: $state.includes('servizi') }">
						                        <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="servizi({pos: 'top'})" href="#!/servizi/top">Servizi <i class="fa fa-caret-down"></i></a>
						                        <ul class="dropdown-menu">
						                            <li ui-sref-active="active">
						                                 <a ui-sref="servizi({pos: 'individuo'})" href="#!/servizi/individuo">Servizi per l'individuo</a>
						                            </li>
						                            <li ui-sref-active="active">
						                                 <a ui-sref="servizi({pos: 'collettivita'})" href="#!/servizi/collettivita">Servizi per la collettività</a>
						                            </li>
						                        </ul>
						                    </li>
						                    <!-- 
						                    <li ng-class="{ active: $state.includes('blog') }">
						                         <a ui-sref="blog">Blog</a>
						                    </li>
						                     -->
						                    <li ng-class="{ active: $state.includes('dovesiamo') }" class="active">
						                         <a ui-sref="dovesiamo" href="#!/dovesiamo">Dove sono</a>
						                    </li> 
						                    <li ng-class="{ active: $state.includes('contatti') }">
						                         <a ui-sref="contatti" href="#!/contatti">Contatti</a>
						                    </li>
						                    

		  									<li ng-hide="$rootScope.scrollDown || $rootScope.displayMode != 'desktop' " class="ng-hide">
		  										<div style="display: inline-block; height: 100px; margin-left:10px;">
		  											<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fmarialauratortorellabiologanutrizionista&amp;layout=box_count&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:61px; position:relative; top:20px;" allowtransparency="true"></iframe>
		  										</div>		
		  									</li>
		  									<li ng-hide="$rootScope.scrollDown || $rootScope.displayMode != 'desktop' " class="ng-hide">
		  										<a href="http://www.onb.it/" target="_blank"><img src="img/ONB.png"></a>
		  									</li>  									
						                    
						                </ul>
						            </div>
			        </div>
		</div>

<!--
		<div ng-controller="LocalCarouselController" ng-show="$rootScope.displayMode != 'mobile' && $rootScope.displayMode != 'tablet'">
			<ul rn-carousel rn-carousel-indicator rn-carousel-control class="carousel slide">
				<li ng-repeat="slide in slides" class="item gradient" ng-style=" slide.banner && {'background-image': 'url(' + slide.banner + ')', 'background-size': 'cover' }"> 
	              	<blockquote class="quote animated slideInRight">
	              		<p>{{slide.quote}}</p>
	              		<small>{{slide.author}}</small>
	        		</blockquote>
				</li>
			</ul>
		</div>
		<div ng-controller="LocalCarouselController">
			<carousel interval="intervallo">
				<slide ng-repeat="slide1 in slides" active="slide1.active">
					<img ng-src="{{slide1.banner}}" style="margin: auto;">
					<blockquote class="animated slideInRight">
	              		<p>{{slide1.quote}}</p>
	              		<small>{{slide1.author}}</small>
	        		</blockquote>
				</slide>
			</carousel>
		</div>
-->

	<!-- Carousel
	    ================================================== data-ride="carousel" data-interval="{{intervallo}}" 
	    <div id="myCarousel" class="carousel slide" data-interval="false" ng-controller="LocalCarouselController" 
	    	ng-show="$rootScope.displayMode != 'mobile' && $rootScope.displayMode != 'tablet'">
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" ng-repeat="slide1 in slides" data-slide-to="{{$index}}" ng-class="{'active' : $index == selectedSlideIndex}"></li>
	      </ol>
	      
	      <div class="carousel-inner">
	        <div class="item gradient" ng-repeat="slide1 in slides" ng-class="{'active' : $index == selectedSlideIndex}">
	 	        <img ng-src="{{slide1.banner}}" ng-show="slide1.banner" />
				<blockquote class="animated slideInRight" ng-show="slide1.quote">
	          		<p>{{slide1.quote}}</p>
	          		<small>{{slide1.author}}</small>
	    		</blockquote>
	    		<div ng-bind-html="sanitize(slide1.content)"></div>
	        </div>
	      </div>
	  	
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div> /.carousel -->


	    <div id="myCarousel" class="carousel slide ng-scope ng-hide" data-interval="false" ng-controller="LocalCarouselController" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'">

	      <ol class="carousel-indicators">
	        <!-- ngRepeat: slide1 in slides --><li ng-repeat="slide1 in slides" ng-click="select($index)" ng-class="{'active' : $index == selectedSlideIndex }" class="ng-scope active"></li><!-- end ngRepeat: slide1 in slides --><li ng-repeat="slide1 in slides" ng-click="select($index)" ng-class="{'active' : $index == selectedSlideIndex }" class="ng-scope"></li><!-- end ngRepeat: slide1 in slides --><li ng-repeat="slide1 in slides" ng-click="select($index)" ng-class="{'active' : $index == selectedSlideIndex }" class="ng-scope"></li><!-- end ngRepeat: slide1 in slides -->
	      </ol>
	      
	      <div class="carousel-inner">
	        <!-- ngRepeat: slide1 in slides --><div class="item gradient ng-scope active" ng-repeat="slide1 in slides" ng-class="{'active' : $index == selectedSlideIndex, 'prev' : $index == selectedSlideIndex - 1, 'next' : $index == selectedSlideIndex + 1}">
	 	        <img ng-src="" ng-show="slide1.banner" class="ng-hide">
				<blockquote class="animated slideInRight ng-hide" ng-show="slide1.quote">
	          		<p class="ng-binding"></p>
	          		<small class="ng-binding"></small>
	    		</blockquote>
	    		<div ng-bind-html="sanitize(slide1.content)" class="ng-binding"><div class="row dove-siamo"><div class="col-dove-siamo col-md-3 col-md-offset-1"><div class="caption-dove-siamo">Roma</div></div><div class="col-dove-siamo col-md-4"><div class="foto-dove-siamo foto1-dove-siamo"><img src="img/site/banner_roma_1.jpg"></div></div><div class="col-dove-siamo col-md-4"><div class="foto-dove-siamo foto2-dove-siamo"><img src="img/site/banner_roma_2.jpg"></div></div></div></div>
	        </div><!-- end ngRepeat: slide1 in slides --><div class="item gradient ng-scope next" ng-repeat="slide1 in slides" ng-class="{'active' : $index == selectedSlideIndex, 'prev' : $index == selectedSlideIndex - 1, 'next' : $index == selectedSlideIndex + 1}">
	 	        <img ng-src="" ng-show="slide1.banner" class="ng-hide">
				<blockquote class="animated slideInRight ng-hide" ng-show="slide1.quote">
	          		<p class="ng-binding"></p>
	          		<small class="ng-binding"></small>
	    		</blockquote>
	    		<div ng-bind-html="sanitize(slide1.content)" class="ng-binding"><div class="row dove-siamo"><div class="col-dove-siamo col-md-3 col-md-offset-1"><div class="caption-dove-siamo">Parma</div></div><div class="col-dove-siamo col-md-4"><div class="foto-dove-siamo foto1-dove-siamo"><img src="img/site/banner_parma_1.jpg"></div></div><div class="col-dove-siamo col-md-4"><div class="foto-dove-siamo foto2-dove-siamo"><img src="img/site/banner_parma_2.jpg"></div></div></div></div>
	        </div><!-- end ngRepeat: slide1 in slides --><div class="item gradient ng-scope" ng-repeat="slide1 in slides" ng-class="{'active' : $index == selectedSlideIndex, 'prev' : $index == selectedSlideIndex - 1, 'next' : $index == selectedSlideIndex + 1}">
	 	        <img ng-src="" ng-show="slide1.banner" class="ng-hide">
				<blockquote class="animated slideInRight ng-hide" ng-show="slide1.quote">
	          		<p class="ng-binding"></p>
	          		<small class="ng-binding"></small>
	    		</blockquote>
	    		<div ng-bind-html="sanitize(slide1.content)" class="ng-binding"><div class="row dove-siamo"><div class="col-dove-siamo col-md-3 col-md-offset-1"><div class="caption-dove-siamo">Lecce</div></div><div class="col-dove-siamo col-md-4"><div class="foto-dove-siamo foto1-dove-siamo"><img src="img/site/banner_lecce_1.jpg"></div></div><div class="col-dove-siamo col-md-4"><div class="foto-dove-siamo foto2-dove-siamo"><img src="img/site/banner_lecce_2.jpg"></div></div></div></div>
	        </div><!-- end ngRepeat: slide1 in slides -->
	      </div>
	  	
	      <a class="left carousel-control" href="" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="right carousel-control" href="" ng-click="next()"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div><!-- /.carousel -->


		<div class="title-wrapper">
			<div class="container">
	      		<div class="row">
	                <div class="col-md-12">
	               		<h2 class="title ng-binding" ng-show="ready" style="">Dove siamo</h2> 	
	      	    	</div>
	      	    
	      	    </div>  
			</div>
		</div>
      
      	<div class="container marketing">
            <div class="row">
                <div class="col-md-12">
                    
                    <!-- ui-view-anchor --><div ui-view="" class="master-view"><div class="row ng-scope">
	<div class="col-md-12">
			<p>
	Scegli la sede più vicina a te.
			</p>
	</div>
</div>
<div class="row ng-scope">
	<div class="col-md-12 center">
		<div class="btn-group btn-dove-siamo">
       		<!-- ngRepeat: posizione in posizioni --><button type="button" class="btn btn-primary ng-scope ng-pristine ng-valid ng-binding active" ng-model="radioModel.id" ng-repeat="posizione in posizioni" btn-radio="posizione.id" ng-click="selezionaCitta($index)">Roma</button><!-- end ngRepeat: posizione in posizioni --><button type="button" class="btn btn-primary ng-scope ng-pristine ng-valid ng-binding" ng-model="radioModel.id" ng-repeat="posizione in posizioni" btn-radio="posizione.id" ng-click="selezionaCitta($index)">Parma</button><!-- end ngRepeat: posizione in posizioni --><button type="button" class="btn btn-primary ng-scope ng-pristine ng-valid ng-binding" ng-model="radioModel.id" ng-repeat="posizione in posizioni" btn-radio="posizione.id" ng-click="selezionaCitta($index)">Lecce</button><!-- end ngRepeat: posizione in posizioni -->
   		</div>
	</div>
</div>

<div class="row ng-scope">
	<div class="col-md-8">
		<div></div>
		<div gm-map-id="'infoWindows'" gm-center="center" gm-zoom="zoom" gm-map-options="mapOptions" class="map ng-isolate-scope"><div id="infoWindows" style="width: 100%; height: 100%; position: relative; background-color: rgb(229, 227, 223); overflow-x: hidden; overflow-y: hidden; "><div style="position: absolute; left: 0px; top: 0px; overflow-x: hidden; overflow-y: hidden; width: 100%; height: 100%; z-index: 0; " class="gm-style"><div style="position: absolute; left: 0px; top: 0px; overflow-x: hidden; overflow-y: hidden; width: 100%; height: 100%; z-index: 0; "><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur), default; -webkit-transform-origin-x: 0px; -webkit-transform-origin-y: 0px; -webkit-transform: matrix(1, 0, 0, 1, 0, 0); "><div style="position: absolute; left: 0px; top: 0px; width: 100%; z-index: 200; "><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%; "></div></div><div style="position: absolute; left: 0px; top: 0px; width: 100%; z-index: 201; "><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%; "></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%; "><div style="position: absolute; left: 0px; top: 0px; z-index: -1; "><div style="position: absolute; left: 0px; top: 0px; z-index: 1; "><div style="width: 256px; height: 256px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 20px; top: -18px; "><canvas draggable="false" style="-webkit-user-select: none; position: absolute; left: 0px; top: 0px; height: 256px; width: 256px; " height="256" width="256"></canvas></div><div style="width: 256px; height: 256px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: -236px; top: -18px; "></div><div style="width: 256px; height: 256px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 20px; top: -274px; "></div><div style="width: 256px; height: 256px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 20px; top: 238px; "></div><div style="width: 256px; height: 256px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 276px; top: -18px; "></div><div style="width: 256px; height: 256px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: -236px; top: -274px; "></div><div style="width: 256px; height: 256px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: -236px; top: 238px; "></div><div style="width: 256px; height: 256px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 276px; top: -274px; "></div><div style="width: 256px; height: 256px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 276px; top: 238px; "></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; width: 100%; z-index: 202; "><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%; "></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%; "></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%; "></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%; "><div style="position: absolute; left: 0px; top: 0px; z-index: 0; "><div style="position: absolute; left: 0px; top: 0px; z-index: 1; "><div style="width: 256px; height: 256px; position: absolute; left: 20px; top: -18px; "></div><div style="width: 256px; height: 256px; position: absolute; left: -236px; top: -18px; "></div><div style="width: 256px; height: 256px; position: absolute; left: 20px; top: -274px; "></div><div style="width: 256px; height: 256px; position: absolute; left: 20px; top: 238px; "></div><div style="width: 256px; height: 256px; position: absolute; left: 276px; top: -18px; "></div><div style="width: 256px; height: 256px; position: absolute; left: -236px; top: -274px; "></div><div style="width: 256px; height: 256px; position: absolute; left: -236px; top: 238px; "></div><div style="width: 256px; height: 256px; position: absolute; left: 276px; top: -274px; "></div><div style="width: 256px; height: 256px; position: absolute; left: 276px; top: 238px; "></div></div></div></div><div style="position: absolute; z-index: 0; left: 0px; top: 0px; "><div style="overflow-x: hidden; overflow-y: hidden; width: 360px; height: 250px; "><img style="width: 360px; height: 250px; " src="http://maps.googleapis.com/maps/api/js/StaticMapService.GetMapImage?1m2&amp;1i560620&amp;2i389394&amp;2e1&amp;3u12&amp;4m2&amp;1u360&amp;2u250&amp;5m4&amp;1e0&amp;5sit-IT&amp;6sus&amp;10b1&amp;token=32250"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0; "><div style="position: absolute; left: 0px; top: 0px; z-index: 1; "><div style="position: absolute; left: -236px; top: -274px; -webkit-transition-property: opacity; -webkit-transition-duration: 200ms; -webkit-transition-timing-function: ease-out; -webkit-transition-delay: initial; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@259045735&amp;src=apiv3&amp;hl=it-IT&amp;x=2189&amp;y=1520&amp;z=12&amp;style=47,37%7Csmartmaps" draggable="false"></div><div style="position: absolute; left: 20px; top: -274px; -webkit-transition-property: opacity; -webkit-transition-duration: 200ms; -webkit-transition-timing-function: ease-out; -webkit-transition-delay: initial; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 256px; height: 256px; " src="http://mt0.googleapis.com/vt?lyrs=m@259059347&amp;src=apiv3&amp;hl=it-IT&amp;x=2190&amp;y=1520&amp;z=12&amp;style=47,37%7Csmartmaps" draggable="false"></div><div style="position: absolute; left: 276px; top: -18px; -webkit-transition-property: opacity; -webkit-transition-duration: 200ms; -webkit-transition-timing-function: ease-out; -webkit-transition-delay: initial; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@259055605&amp;src=apiv3&amp;hl=it-IT&amp;x=2191&amp;y=1521&amp;z=12&amp;style=47,37%7Csmartmaps" draggable="false"></div><div style="position: absolute; left: 20px; top: -18px; -webkit-transition-property: opacity; -webkit-transition-duration: 200ms; -webkit-transition-timing-function: ease-out; -webkit-transition-delay: initial; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 256px; height: 256px; " src="http://mt0.googleapis.com/vt?lyrs=m@259055677&amp;src=apiv3&amp;hl=it-IT&amp;x=2190&amp;y=1521&amp;z=12&amp;style=47,37%7Csmartmaps" draggable="false"></div><div style="position: absolute; left: 276px; top: -274px; -webkit-transition-property: opacity; -webkit-transition-duration: 200ms; -webkit-transition-timing-function: ease-out; -webkit-transition-delay: initial; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@259059777&amp;src=apiv3&amp;hl=it-IT&amp;x=2191&amp;y=1520&amp;z=12&amp;style=47,37%7Csmartmaps" draggable="false"></div><div style="position: absolute; left: -236px; top: -18px; -webkit-transition-property: opacity; -webkit-transition-duration: 200ms; -webkit-transition-timing-function: ease-out; -webkit-transition-delay: initial; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@259057242&amp;src=apiv3&amp;hl=it-IT&amp;x=2189&amp;y=1521&amp;z=12&amp;style=47,37%7Csmartmaps" draggable="false"></div><div style="position: absolute; left: 20px; top: 238px; -webkit-transition-property: opacity; -webkit-transition-duration: 200ms; -webkit-transition-timing-function: ease-out; -webkit-transition-delay: initial; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 256px; height: 256px; " src="http://mt0.googleapis.com/vt?lyrs=m@259056017&amp;src=apiv3&amp;hl=it-IT&amp;x=2190&amp;y=1522&amp;z=12&amp;style=47,37%7Csmartmaps" draggable="false"></div><div style="position: absolute; left: -236px; top: 238px; -webkit-transition-property: opacity; -webkit-transition-duration: 200ms; -webkit-transition-timing-function: ease-out; -webkit-transition-delay: initial; opacity: 1; width: 256px; height: 256px; "><img style="-webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@259057242&amp;src=apiv3&amp;hl=it-IT&amp;x=2189&amp;y=1522&amp;z=12&amp;style=47,37%7Csmartmaps" draggable="false"></div><div style="position: absolute; left: 276px; top: 238px; width: 256px; height: 256px; -webkit-transition-property: opacity; -webkit-transition-duration: 200ms; -webkit-transition-timing-function: ease-out; -webkit-transition-delay: initial; opacity: 1; "><img style="-webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 256px; height: 256px; " src="http://mt1.googleapis.com/vt?lyrs=m@259045003&amp;src=apiv3&amp;hl=it-IT&amp;x=2191&amp;y=1522&amp;z=12&amp;style=47,37%7Csmartmaps" draggable="false"></div></div></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px; "><a style="position: static; overflow-x: visible; overflow-y: visible; float: none; display: inline; " target="_blank" href="http://maps.google.com/maps?ll=41.93103,12.53527&amp;z=12&amp;t=m&amp;hl=it-IT&amp;gl=US&amp;mapclient=apiv3" title="Fai clic per visualizzare quest'area in Google Maps"><div style="width: 62px; height: 26px; cursor: pointer; "><img style="position: absolute; left: 0px; top: 0px; -webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; width: 62px; height: 26px; " src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png" draggable="false"></div></a></div><div class="gmnoprint" style="position: absolute; z-index: 1000001; width: 62px; right: 277px; bottom: 0px; "><div draggable="false" style="-webkit-user-select: none; " class="gm-style-cc"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute; "><div style="width: 1px; "></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px; "></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; "><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; ">Dati mappa</a><span style="display: none; ">Map data ©2014 Google</span></div></div></div><div style="background-color: white; padding-top: 15px; padding-right: 21px; padding-bottom: 15px; padding-left: 21px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(171, 171, 171); border-right-color: rgb(171, 171, 171); border-bottom-color: rgb(171, 171, 171); border-left-color: rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 4px 16px; box-shadow: rgba(0, 0, 0, 0.199219) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 30px; top: 35px; "><div style="padding-top: 0px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px; font-size: 16px; ">Dati mappa</div><div style="font-size: 13px; ">Map data ©2014 Google</div><div style="width: 13px; height: 13px; overflow-x: hidden; overflow-y: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer; "><img style="position: absolute; left: -2px; top: -336px; -webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; -webkit-user-drag: none; width: 59px; height: 492px; " src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false"></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px; "><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245); ">Map data ©2014 Google</div></div><div class="gmnoprint gm-style-cc" style="z-index: 1000001; position: absolute; -webkit-user-select: none; right: 149px; bottom: 0px; " draggable="false"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute; "><div style="width: 1px; "></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px; "></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; "><a style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68); " href="http://www.google.com/intl/it-IT_US/help/terms_maps.html" target="_blank">Termini e condizioni d'uso</a></div></div><div draggable="false" style="-webkit-user-select: none; position: absolute; right: 0px; bottom: 0px; " class="gm-style-cc"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute; "><div style="width: 1px; "></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px; "></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; "><a target="_new" title="Segnala errori nella mappa stradale o nelle altre mappe di Google" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative; " href="http://maps.google.com/maps?ll=41.93103,12.53527&amp;z=12&amp;t=m&amp;hl=it-IT&amp;gl=US&amp;mapclient=apiv3&amp;skstate=action:mps_dialog$apiref:1&amp;output=classic">Segnala un errore nella mappa</a></div></div><div class="gmnoprint" style="margin-top: 5px; margin-right: 5px; margin-bottom: 5px; margin-left: 5px; -webkit-user-select: none; position: absolute; left: 0px; top: 0px; " draggable="false" controlwidth="32" controlheight="84"><div style="cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur), default; position: absolute; left: 0px; top: 0px; " controlwidth="32" controlheight="40"><div style="width: 32px; height: 40px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 0px; top: 0px; "><img style="position: absolute; left: -9px; top: -102px; -webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; -webkit-user-drag: none; width: 1028px; height: 214px; " src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false"></div><div style="width: 32px; height: 40px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden; "><img style="position: absolute; left: -107px; top: -102px; -webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; -webkit-user-drag: none; width: 1028px; height: 214px; " src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false"></div><div style="width: 32px; height: 40px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden; "><img style="position: absolute; left: -58px; top: -102px; -webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; -webkit-user-drag: none; width: 1028px; height: 214px; " src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false"></div><div style="width: 32px; height: 40px; overflow-x: hidden; overflow-y: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden; "><img style="position: absolute; left: -205px; top: -102px; -webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; -webkit-user-drag: none; width: 1028px; height: 214px; " src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout2.png" draggable="false"></div></div><div class="gmnoprint" style="position: absolute; opacity: 0.6; display: none; " controlwidth="0" controlheight="0"><div style="width: 22px; height: 22px; overflow-x: hidden; overflow-y: hidden; position: absolute; cursor: pointer; " title="Ruota la mappa di 90°"><img style="position: absolute; left: -38px; top: -360px; -webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; -webkit-user-drag: none; width: 59px; height: 492px; " src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false"></div></div><div class="gmnoprint" controlwidth="20" controlheight="39" style="position: absolute; left: 6px; top: 45px; "><div style="width: 20px; height: 39px; overflow-x: hidden; overflow-y: hidden; position: absolute; "><img style="position: absolute; left: -39px; top: -401px; -webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; -webkit-user-drag: none; width: 59px; height: 492px; " src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt3.png" draggable="false"></div><div style="position: absolute; left: 0px; top: 2px; width: 20px; height: 17px; cursor: pointer; " title="Zoom avanti"></div><div style="position: absolute; left: 0px; top: 19px; width: 20px; height: 17px; cursor: pointer; " title="Zoom indietro"></div></div></div><div class="gmnoprint" style="margin-top: 5px; margin-right: 5px; margin-bottom: 5px; margin-left: 5px; z-index: 0; position: absolute; cursor: pointer; right: 0px; top: 0px; "><div style="float: left; " class="gm-style-mtc"><div style="direction: ltr; overflow-x: hidden; overflow-y: hidden; text-align: center; position: relative; font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding-top: 1px; padding-right: 6px; padding-bottom: 1px; border-bottom-left-radius: 2px 2px; border-top-left-radius: 2px 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgba(0, 0, 0, 0.148438); border-right-color: rgba(0, 0, 0, 0.148438); border-bottom-color: rgba(0, 0, 0, 0.148438); border-left-color: rgba(0, 0, 0, 0.148438); -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px -1px; min-width: 34px; color: rgb(0, 0, 0); padding-left: 6px; font-weight: 500; background-color: rgb(255, 255, 255); " draggable="false" title="Mostra cartina stradale">Mappa</div><div style="background-color: white; z-index: -1; padding-top: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgba(0, 0, 0, 0.148438); border-bottom-color: rgba(0, 0, 0, 0.148438); border-left-color: rgba(0, 0, 0, 0.148438); border-top-width: 0px; border-top-style: initial; border-top-color: initial; -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px -1px; position: absolute; left: 0px; top: 30px; text-align: left; display: none; "><div style="font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding-top: 3px; padding-bottom: 3px; padding-left: 5px; direction: ltr; text-align: left; background-color: rgb(255, 255, 255); white-space: nowrap; padding-right: 8px; color: rgb(0, 0, 0); " draggable="false" title="Mostra mappa stradale con rilievo"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin-top: 0px; margin-right: 5px; margin-bottom: 0px; margin-left: 0px; display: inline-block; background-color: rgb(255, 255, 255); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-color: initial; border-top-left-radius: 1px 1px; border-top-right-radius: 1px 1px; border-bottom-right-radius: 1px 1px; border-bottom-left-radius: 1px 1px; width: 13px; height: 13px; vertical-align: middle; border-top-color: rgb(198, 198, 198); border-right-color: rgb(198, 198, 198); border-bottom-color: rgb(198, 198, 198); border-left-color: rgb(198, 198, 198); "><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow-x: hidden; overflow-y: hidden; display: none; "><img style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; -webkit-user-drag: none; width: 68px; height: 67px; " src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false"></div></span><label style="vertical-align: middle; cursor: pointer; ">Rilievo</label></div></div></div><div style="float: left; " class="gm-style-mtc"><div style="direction: ltr; overflow-x: hidden; overflow-y: hidden; text-align: center; position: relative; font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding-top: 1px; padding-right: 6px; padding-bottom: 1px; border-bottom-right-radius: 2px 2px; border-top-right-radius: 2px 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgba(0, 0, 0, 0.148438); border-right-color: rgba(0, 0, 0, 0.148438); border-bottom-color: rgba(0, 0, 0, 0.148438); -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px -1px; min-width: 39px; color: rgb(86, 86, 86); border-left-width: 0px; border-left-style: initial; border-left-color: initial; padding-left: 6px; background-color: rgb(255, 255, 255); " draggable="false" title="Mostra immagini satellitari">Satellite</div><div style="background-color: white; z-index: -1; padding-top: 2px; -webkit-background-clip: padding-box; background-clip: padding-box; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: rgba(0, 0, 0, 0.148438); border-bottom-color: rgba(0, 0, 0, 0.148438); border-left-color: rgba(0, 0, 0, 0.148438); border-top-width: 0px; border-top-style: initial; border-top-color: initial; -webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px -1px; box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px -1px; position: absolute; right: 0px; top: 30px; text-align: left; display: none; "><div style="font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding-top: 3px; padding-bottom: 3px; padding-left: 5px; direction: ltr; text-align: left; background-color: rgb(255, 255, 255); white-space: nowrap; padding-right: 8px; display: none; color: rgb(184, 184, 184); " draggable="false" title="Aumenta lo zoom per attivare la visualizzazione a 45 gradi"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin-top: 0px; margin-right: 5px; margin-bottom: 0px; margin-left: 0px; display: inline-block; background-color: rgb(255, 255, 255); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-color: initial; border-top-left-radius: 1px 1px; border-top-right-radius: 1px 1px; border-bottom-right-radius: 1px 1px; border-bottom-left-radius: 1px 1px; width: 13px; height: 13px; vertical-align: middle; border-top-color: rgb(241, 241, 241); border-right-color: rgb(241, 241, 241); border-bottom-color: rgb(241, 241, 241); border-left-color: rgb(241, 241, 241); "><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow-x: hidden; overflow-y: hidden; display: none; "><img style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; -webkit-user-drag: none; width: 68px; height: 67px; " src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false"></div></span><label style="vertical-align: middle; cursor: pointer; ">45°</label></div><div style="font-family: Roboto, Arial, sans-serif; -webkit-user-select: none; font-size: 11px; padding-top: 3px; padding-bottom: 3px; padding-left: 5px; direction: ltr; text-align: left; background-color: rgb(255, 255, 255); white-space: nowrap; padding-right: 8px; color: rgb(0, 0, 0); " draggable="false" title="Mostra immagine satellitare con i nomi delle strade"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin-top: 0px; margin-right: 5px; margin-bottom: 0px; margin-left: 0px; display: inline-block; background-color: rgb(255, 255, 255); border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-color: initial; border-top-left-radius: 1px 1px; border-top-right-radius: 1px 1px; border-bottom-right-radius: 1px 1px; border-bottom-left-radius: 1px 1px; width: 13px; height: 13px; vertical-align: middle; border-top-color: rgb(198, 198, 198); border-right-color: rgb(198, 198, 198); border-bottom-color: rgb(198, 198, 198); border-left-color: rgb(198, 198, 198); "><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow-x: hidden; overflow-y: hidden; "><img style="position: absolute; left: -52px; top: -44px; -webkit-user-select: none; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; -webkit-user-drag: none; width: 68px; height: 67px; " src="http://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false"></div></span><label style="vertical-align: middle; cursor: pointer; ">Etichette</label></div></div></div></div></div></div><div ng-transclude="">
			<gm-markers gm-objects="posizioni" gm-position="{ lat: object.location.lat, lng: object.location.lng }" gm-marker-options="{ title: object.citta, visible: true }" gm-id="object.id" gm-on-click="selectedPosizione = object; infoWindow.open(marker.getMap(), marker);" class="ng-scope ng-isolate-scope">
			</gm-markers>
		</div></div>
	</div>
	<div class="col-md-4">
   		<h2 class="ng-binding">Roma</h2>
   		<address>
   			<span ng-show="selectedPosizione.indirizzo" class="ng-binding"><i class="fa fa-map-marker"></i> Zona Montesacro</span><br>
   			<!-- <span>{{selectedPosizione.cap}}<br>  -->
   			<span class="ng-binding"><i class="fa fa-phone"></i> Tel: +39 3491623792</span><br>
   			<span><i class="fa fa-envelope"></i> Email: <a ng-href="mailto:mltortorella.nutrizione@gmail.com" class="ng-binding" href="unsafe:mailto:mltortorella.nutrizione@gmail.com">mltortorella.nutrizione@gmail.com</a></span>
   		</address>
	</div>

</div>
</div>
                    
                    <a class="to-top ng-scope ng-hide" ng-controller="ToTopController" ng-click="tornaSu()" ng-class="{'on': $rootScope.scrollDown}" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'">
                </a></div><a class="to-top ng-scope ng-hide" ng-controller="ToTopController" ng-click="tornaSu()" ng-class="{'on': $rootScope.scrollDown}" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'">
                
            </a></div><a class="to-top ng-scope ng-hide" ng-controller="ToTopController" ng-click="tornaSu()" ng-class="{'on': $rootScope.scrollDown}" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'">
        </a></div><a class="to-top ng-scope ng-hide" ng-controller="ToTopController" ng-click="tornaSu()" ng-class="{'on': $rootScope.scrollDown}" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'">    


		</a><div class="visible-md"><a class="to-top ng-scope ng-hide" ng-controller="ToTopController" ng-click="tornaSu()" ng-class="{'on': $rootScope.scrollDown}" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'">
			</a><a ui-sref="contatti" class="contattami ng-hide" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet' &amp;&amp; $rootScope.displayMode != 'tablet-landscape' &amp;&amp; !$state.includes('contatti')" href="#!/contatti">Contattami!</a>
		</div>


		<footer>
           <div class="container">
              <section class="row">
                 <div class="col-md-4">
                    <h4>Dr.ssa Maria Laura Tortorella</h4>
                    <ul class="list-unstyled">
                       <li>Biologa nutrizionista</li>
                       <li>Iscrizione Albo n° 068121</li>
                       <li>P.I. 04539760753</li>
                       <li><small>Tutti i diritti riservati</small></li>
                       <li><a title="Privacy Policy" href="" ng-click="openPrivacyPolicy()"><small>Privacy Policy</small></a></li>
                    </ul>
                 </div>
                 <div class="col-md-4">
                    <h4>Contatti</h4>
                    <ul class="list-unstyled">
                       <li><i class="fa fa-phone"></i> +39 3491623792</li>
                       <li><i class="fa fa-envelope"></i> <a ng-href="mailto:mltortorella.nutrizione@gmail.com" href="unsafe:mailto:mltortorella.nutrizione@gmail.com">mltortorella.nutrizione@gmail.com</a></li>
                    </ul>
                 </div>
                 <div class="col-md-2">
                    <h4>Mappa del sito</h4>
                    <ul class="list-unstyled">
                       <li><a ui-sref="home" href="#!/home">Home</a></li>
                       <li><a ui-sref="metodo" href="#!/metodo">Metodo di lavoro</a></li>
                       <li><a ui-sref="servizi" href="#!/servizi/">Servizi</a></li>                       
                       <!-- <li><a ui-sref="blog">Blog</a></li> -->
                       <li><a ui-sref="dovesiamo" href="#!/dovesiamo">Dove sono</a></li>
                       <li><a ui-sref="contatti" href="#!/contatti">Contatti</a></li>
                    </ul>
                 </div>
                 <div class="col-md-2">
                    <h4>Seguimi su</h4>
                    <a href="https://www.facebook.com/marialauratortorellabiologanutrizionista" title="Facebook" class="social social-facebook">
                    	<span class="fa-stack fa-lg">
  							<i class="fa fa-circle fa-stack-2x"></i>
  							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
                    	
                    </a>
                    <a href="http://it.linkedin.com/pub/maria-laura-tortorella/22/8/243" title="Facebook" class="social social-linkedin">
                    	<span class="fa-stack fa-lg">
  							<i class="fa fa-circle fa-stack-2x"></i>
  							<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
						</span>
                    	
                    </a>
                 </div>
              </section>
              <section class="row">
                 <div class="col-md-12">
                    <small>© Copyright 2014 by <a href="https://plus.google.com/+FrancescoCarlucci77/">Francesco Carlucci</a></small>
                </div>
            </section>
           </div>
		</footer>
        
        <div class="display-mode ng-isolate-scope" dn-display-mode="$rootScope.displayMode"><span class="mobile"></span><span class="tablet"></span><span class="tablet-landscape"></span><span class="desktop"></span></div>

		<!-- 
        <script src="lib/jquery-2.0.3.min.js"></script>
        <script src="lib/bootstrap-3.0.3/js/bootstrap.js"></script>
        <script src="lib/angularjs-1.2.13/angular.js"></script>
        <script src="lib/angularjs-1.2.13/angular-animate.js"></script>
        <script src="lib/angularjs-1.2.13/angular-touch.js"></script>
        <script src="lib/ui-router-0.2.8.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.10.0_nocarousel.js"></script>

        <script src="lib/angular-disqus.min.js"></script>
        <script src="lib/ladda.js"></script>
        <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script><script src="http://maps.gstatic.com/intl/it_it/mapfiles/api-3/16/8/main.js" type="text/javascript"></script>
        <script src="lib/angular-gm-1.0.0/angular-gm.js"></script>
		<script src="lib/angular-carousel.js"></script>
		<script src="lib/angular-inview.js"></script>

        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
 		-->
        

    

</body></html>
