<html lang="en" ng-app="myApp" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}</style>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="seo" content="*angularjsseo*">
        <title>Dr.ssa Maria Laura Tortorella</title>
      	<link href="lib/normalize.css" rel="stylesheet">
      	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
      	<link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
        <link href="lib/bootstrap-3.0.3/css/bootstrap.css" rel="stylesheet">
        <link href="lib/bootstrap.vertical-tabs.css" rel="stylesheet">
        <link href="lib/font-awesome-4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href="lib/ladda.css" rel="stylesheet">
        <link href="lib/angular-carousel.css" rel="stylesheet">
        <link href="lib/animate.css" rel="stylesheet">
        <link href="css/app.css" rel="stylesheet">

        <link rel="shortcut icon" href="favicon.ico" type="x-icon">
        <link rel="icon" href="favicon.ico" type="x-icon">
    <style type="text/css"></style></head>

    <body fc-scroll-down="$rootScope.scrollDown" ng-controller="SiteController" style="" class="ng-scope ng-isolate-scope">
    	<a id="top"></a>
   		<div class="navbar-wrapper">

			        <div class="navbar navbar-inverse ng-scope" ng-controller="NavBarController" role="navigation" ng-class="{ 'navbar-narrow navbar-fixed-top': $rootScope.scrollDown &amp;&amp; $rootScope.displayMode == 'desktop' }">
						            <div class="navbar-header">
							           	<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed"> 
						                   <span class="icon-bar"></span>
						                   <span class="icon-bar"></span>
						                   <span class="icon-bar"></span>
						               	</button>
				
						               	<a class="navbar-brand" ui-sref="home" href="#!/home">
						               
							              	<p>Dr.ssa <span ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'" class="ng-hide">Maria Laura</span> Tortorella 
							              		<small ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'" class="ng-hide">
							              			<br ng-hide="$rootScope.scrollDown" class="">
							              			<span ng-show="$rootScope.scrollDown" class="ng-hide"> - </span>Biologa nutrizionista
							              		</small>
							              	</p>
						               	</a>
									</div>
						            <div class="navbar-collapse navbar-collapse collapse" collapse="isCollapsed" style="height: 0px; ">
						                <ul class="nav navbar-nav navbar-right">
						                    <li ng-class="{ active: $state.includes('home') }" class="active">
						                         <a ui-sref="home" href="#!/home">Home</a>
						                    </li>
						                    <li ng-class="{ active: $state.includes('metodo') }">
						                         <a ui-sref="metodo" href="#!/metodo">Metodo di lavoro</a>
						                    </li>
						                    <li class="dropdown" ng-class="{ active: $state.includes('servizi') }">
						                        <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="servizi({pos: 'top'})" href="#!/servizi/top">Servizi <i class="fa fa-caret-down"></i></a>
						                        <ul class="dropdown-menu">
						                            <li ui-sref-active="active">
						                                 <a ui-sref="servizi({pos: 'individuo'})" href="#!/servizi/individuo">Servizi per l'individuo</a>
						                            </li>
						                            <li ui-sref-active="active">
						                                 <a ui-sref="servizi({pos: 'collettivita'})" href="#!/servizi/collettivita">Servizi per la collettività</a>
						                            </li>
						                        </ul>
						                    </li>
						                    <!-- 
						                    <li ng-class="{ active: $state.includes('blog') }">
						                         <a ui-sref="blog">Blog</a>
						                    </li>
						                     -->
						                    <li ng-class="{ active: $state.includes('dovesiamo') }">
						                         <a ui-sref="dovesiamo" href="#!/dovesiamo">Dove sono</a>
						                    </li> 
						                    <li ng-class="{ active: $state.includes('contatti') }">
						                         <a ui-sref="contatti" href="#!/contatti">Contatti</a>
						                    </li>
						                    

		  									<li ng-hide="$rootScope.scrollDown || $rootScope.displayMode != 'desktop' " class="ng-hide">
		  										<div style="display: inline-block; height: 100px; margin-left:10px;">
		  											<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fmarialauratortorellabiologanutrizionista&amp;layout=box_count&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:61px; position:relative; top:20px;" allowtransparency="true"></iframe>
		  										</div>		
		  									</li>
		  									<li ng-hide="$rootScope.scrollDown || $rootScope.displayMode != 'desktop' " class="ng-hide">
		  										<a href="http://www.onb.it/" target="_blank"><img src="img/ONB.png"></a>
		  									</li>  									
						                    
						                </ul>
						            </div>
			        </div>
		</div>

<!--
		<div ng-controller="LocalCarouselController" ng-show="$rootScope.displayMode != 'mobile' && $rootScope.displayMode != 'tablet'">
			<ul rn-carousel rn-carousel-indicator rn-carousel-control class="carousel slide">
				<li ng-repeat="slide in slides" class="item gradient" ng-style=" slide.banner && {'background-image': 'url(' + slide.banner + ')', 'background-size': 'cover' }"> 
	              	<blockquote class="quote animated slideInRight">
	              		<p>{{slide.quote}}</p>
	              		<small>{{slide.author}}</small>
	        		</blockquote>
				</li>
			</ul>
		</div>
		<div ng-controller="LocalCarouselController">
			<carousel interval="intervallo">
				<slide ng-repeat="slide1 in slides" active="slide1.active">
					<img ng-src="{{slide1.banner}}" style="margin: auto;">
					<blockquote class="animated slideInRight">
	              		<p>{{slide1.quote}}</p>
	              		<small>{{slide1.author}}</small>
	        		</blockquote>
				</slide>
			</carousel>
		</div>
-->

	<!-- Carousel
	    ================================================== data-ride="carousel" data-interval="{{intervallo}}" 
	    <div id="myCarousel" class="carousel slide" data-interval="false" ng-controller="LocalCarouselController" 
	    	ng-show="$rootScope.displayMode != 'mobile' && $rootScope.displayMode != 'tablet'">
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" ng-repeat="slide1 in slides" data-slide-to="{{$index}}" ng-class="{'active' : $index == selectedSlideIndex}"></li>
	      </ol>
	      
	      <div class="carousel-inner">
	        <div class="item gradient" ng-repeat="slide1 in slides" ng-class="{'active' : $index == selectedSlideIndex}">
	 	        <img ng-src="{{slide1.banner}}" ng-show="slide1.banner" />
				<blockquote class="animated slideInRight" ng-show="slide1.quote">
	          		<p>{{slide1.quote}}</p>
	          		<small>{{slide1.author}}</small>
	    		</blockquote>
	    		<div ng-bind-html="sanitize(slide1.content)"></div>
	        </div>
	      </div>
	  	
	      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div> /.carousel -->


	    <div id="myCarousel" class="carousel slide ng-scope ng-hide" data-interval="false" ng-controller="LocalCarouselController" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'">

	      <ol class="carousel-indicators">
	        <!-- ngRepeat: slide1 in slides --><li ng-repeat="slide1 in slides" ng-click="select($index)" ng-class="{'active' : $index == selectedSlideIndex }" class="ng-scope active"></li><!-- end ngRepeat: slide1 in slides --><li ng-repeat="slide1 in slides" ng-click="select($index)" ng-class="{'active' : $index == selectedSlideIndex }" class="ng-scope"></li><!-- end ngRepeat: slide1 in slides -->
	      </ol>
	      
	      <div class="carousel-inner">
	        <!-- ngRepeat: slide1 in slides --><div class="item gradient ng-scope active" ng-repeat="slide1 in slides" ng-class="{'active' : $index == selectedSlideIndex, 'prev' : $index == selectedSlideIndex - 1, 'next' : $index == selectedSlideIndex + 1}">
	 	        <img ng-src="img/banner1.png" ng-show="slide1.banner" src="img/banner1.png" class="">
				<blockquote class="animated slideInRight" ng-show="slide1.quote">
	          		<p class="ng-binding">Il primo e il piu' importante dei doveri che abbiamo e' quello di imparare a preservare dal deterioramento questo prodigio meraviglioso che e' il nostro corpo, a rispettarlo e a nutrirlo bene. Ma per riuscirci e' necessario prima di tutto istruirsi: CONOSCERE PER VIVERE MEGLIO!</p>
	          		<small class="ng-binding">C. Kousmine</small>
	    		</blockquote>
	    		<div ng-bind-html="sanitize(slide1.content)" class="ng-binding"></div>
	        </div><!-- end ngRepeat: slide1 in slides --><div class="item gradient ng-scope next" ng-repeat="slide1 in slides" ng-class="{'active' : $index == selectedSlideIndex, 'prev' : $index == selectedSlideIndex - 1, 'next' : $index == selectedSlideIndex + 1}">
	 	        <img ng-src="img/banner2.png" ng-show="slide1.banner" src="img/banner2.png" class="">
				<blockquote class="animated slideInRight" ng-show="slide1.quote">
	          		<p class="ng-binding">Il primo e il piu' importante dei doveri che abbiamo e' quello di imparare a preservare dal deterioramento questo prodigio meraviglioso che e' il nostro corpo, a rispettarlo e a nutrirlo bene. Ma per riuscirci e' necessario prima di tutto istruirsi: CONOSCERE PER VIVERE MEGLIO!</p>
	          		<small class="ng-binding">C. Kousmine</small>
	    		</blockquote>
	    		<div ng-bind-html="sanitize(slide1.content)" class="ng-binding"></div>
	        </div><!-- end ngRepeat: slide1 in slides -->
	      </div>
	  	
	      <a class="left carousel-control" href="" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span></a>
	      <a class="right carousel-control" href="" ng-click="next()"><span class="glyphicon glyphicon-chevron-right"></span></a>
	    </div><!-- /.carousel -->


		<div class="title-wrapper">
			<div class="container">
	      		<div class="row">
	                <div class="col-md-12">
	               		<h2 class="title ng-binding" ng-show="ready" style="">Benvenuti</h2> 	
	      	    	</div>
	      	    
	      	    </div>  
			</div>
		</div>
      
      	<div class="container marketing">
            <div class="row">
                <div class="col-md-12">
                    
                    <!-- ui-view-anchor --><div ui-view="" class="master-view"><div class="row featurette ng-scope">
        <div class="col-md-7">
          <h2 class="featurette-heading">Al giorno d’oggi il concetto di dieta è spesso mal interpretato.</h2>
          <p class="lead giustificato">
La parola “dieta”, infatti, richiama a tutti la mera applicazione di strette regole e regimi alimentari drastici e monotoni, basati su restrizioni e privazioni, spesso limitate a brevi, ma intensi periodi di tempo.
          </p>
        </div>
        <div class="col-md-5 featurette-image-container" in-view="animateInView($inview, $element, 'animated animated-slow fadeIn')">
          <img class="featurette-image hidden" alt="500x500" src="img/site/home1.jpg">
        </div>
</div>
<hr class="featurette-divider ng-scope">
<div class="row featurette ng-scope">
        <div class="col-md-5 featurette-image-container" in-view="animateInView($inview, $element, 'animated animated-slow fadeIn')">
          <img class="featurette-image hidden" alt="500x500" src="img/site/home2.jpg">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">&nbsp;</h2>
          <p class="lead giustificato">Ben presto, però, con questo tipo di approccio, anche nell’individuo più tenace viene meno la costanza che lascerà il posto a sofferenza e frustrazione per il mancato raggiungimento dell’obiettivo prefissato e, quindi, del successo.

Il termine dieta, invece, dal latino "diaeta", e a sua volta dal greco δίαιτα, dìaita, significa "modo di vivere" e, di conseguenza, “modo di vivere secondo abitudini alimentari sane ed equilibrate”.
</p>
        </div>
</div>
<hr class="featurette-divider ng-scope">
<div class="row featurette ng-scope">
        <div class="col-md-5">
          <h2 class="featurette-heading">&nbsp;</h2>
          <p class="lead giustificato">Il cammino di rieducazione alimentare, per riacquistare salute ed equilibrio corporeo deve essere, dunque, lento e graduale per consentire all’individuo di divenire egli stesso artefice del cambiamento del proprio stile di vita.</p>
        </div>
        <div class="col-md-7 featurette-image-container" in-view="animateInView($inview, $element, 'animated animated-slow slideInRight')">
          <img class="featurette-image hidden" alt="500x500" src="img/site/home3.jpg">
        </div>
</div></div>
                    
                    <a class="to-top ng-scope ng-hide" ng-controller="ToTopController" ng-click="tornaSu()" ng-class="{'on': $rootScope.scrollDown}" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'">
                </a></div><a class="to-top ng-scope ng-hide" ng-controller="ToTopController" ng-click="tornaSu()" ng-class="{'on': $rootScope.scrollDown}" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'">
                
            </a></div><a class="to-top ng-scope ng-hide" ng-controller="ToTopController" ng-click="tornaSu()" ng-class="{'on': $rootScope.scrollDown}" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'">
        </a></div><a class="to-top ng-scope ng-hide" ng-controller="ToTopController" ng-click="tornaSu()" ng-class="{'on': $rootScope.scrollDown}" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'">    


		</a><div class="visible-md"><a class="to-top ng-scope ng-hide" ng-controller="ToTopController" ng-click="tornaSu()" ng-class="{'on': $rootScope.scrollDown}" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet'">
			</a><a ui-sref="contatti" class="contattami ng-hide" ng-show="$rootScope.displayMode != 'mobile' &amp;&amp; $rootScope.displayMode != 'tablet' &amp;&amp; $rootScope.displayMode != 'tablet-landscape' &amp;&amp; !$state.includes('contatti')" href="#!/contatti">Contattami!</a>
		</div>


		<footer>
           <div class="container">
              <section class="row">
                 <div class="col-md-4">
                    <h4>Dr.ssa Maria Laura Tortorella</h4>
                    <ul class="list-unstyled">
                       <li>Biologa nutrizionista</li>
                       <li>Iscrizione Albo n° 068121</li>
                       <li>P.I. 04539760753</li>
                       <li><small>Tutti i diritti riservati</small></li>
                       <li><a title="Privacy Policy" href="" ng-click="openPrivacyPolicy()"><small>Privacy Policy</small></a></li>
                    </ul>
                 </div>
                 <div class="col-md-4">
                    <h4>Contatti</h4>
                    <ul class="list-unstyled">
                       <li><i class="fa fa-phone"></i> +39 3491623792</li>
                       <li><i class="fa fa-envelope"></i> <a ng-href="mailto:mltortorella.nutrizione@gmail.com" href="unsafe:mailto:mltortorella.nutrizione@gmail.com">mltortorella.nutrizione@gmail.com</a></li>
                    </ul>
                 </div>
                 <div class="col-md-2">
                    <h4>Mappa del sito</h4>
                    <ul class="list-unstyled">
                       <li><a ui-sref="home" href="#!/home">Home</a></li>
                       <li><a ui-sref="metodo" href="#!/metodo">Metodo di lavoro</a></li>
                       <li><a ui-sref="servizi" href="#!/servizi/">Servizi</a></li>                       
                       <!-- <li><a ui-sref="blog">Blog</a></li> -->
                       <li><a ui-sref="dovesiamo" href="#!/dovesiamo">Dove sono</a></li>
                       <li><a ui-sref="contatti" href="#!/contatti">Contatti</a></li>
                    </ul>
                 </div>
                 <div class="col-md-2">
                    <h4>Seguimi su</h4>
                    <a href="https://www.facebook.com/marialauratortorellabiologanutrizionista" title="Facebook" class="social social-facebook">
                    	<span class="fa-stack fa-lg">
  							<i class="fa fa-circle fa-stack-2x"></i>
  							<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
						</span>
                    	
                    </a>
                    <a href="http://it.linkedin.com/pub/maria-laura-tortorella/22/8/243" title="Facebook" class="social social-linkedin">
                    	<span class="fa-stack fa-lg">
  							<i class="fa fa-circle fa-stack-2x"></i>
  							<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
						</span>
                    	
                    </a>
                 </div>
              </section>
              <section class="row">
                 <div class="col-md-12">
                    <small>© Copyright 2014 by <a href="https://plus.google.com/+FrancescoCarlucci77/">Francesco Carlucci</a></small>
                </div>
            </section>
           </div>
		</footer>
        
        <div class="display-mode ng-isolate-scope" dn-display-mode="$rootScope.displayMode"><span class="mobile"></span><span class="tablet"></span><span class="tablet-landscape"></span><span class="desktop"></span></div>

		<!-- 
        <script src="lib/jquery-2.0.3.min.js"></script>
        <script src="lib/bootstrap-3.0.3/js/bootstrap.js"></script>
        <script src="lib/angularjs-1.2.13/angular.js"></script>
        <script src="lib/angularjs-1.2.13/angular-animate.js"></script>
        <script src="lib/angularjs-1.2.13/angular-touch.js"></script>
        <script src="lib/ui-router-0.2.8.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.10.0_nocarousel.js"></script>

        <script src="lib/angular-disqus.min.js"></script>
        <script src="lib/ladda.js"></script>
        <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script><script src="http://maps.gstatic.com/intl/it_it/mapfiles/api-3/16/8/main.js" type="text/javascript"></script>
        <script src="lib/angular-gm-1.0.0/angular-gm.js"></script>
		<script src="lib/angular-carousel.js"></script>
		<script src="lib/angular-inview.js"></script>

        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
 		-->
        

    

</body></html>
